@use '@/styles/ohma';

.RegistrationsList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: calc(1 * ohma.$gap);

    > :last-child {
        grid-column: 1 / -1;
    }
}

.RegistrationTable {
    @include ohma.table();

    a {
        text-decoration: none;
        color: inherit;
    }
}
