@use '@/styles/ohma';

.BackdropImage {
    position: relative;
    isolation: isolate;

    .image {
        position: absolute;
        translate: 40% 0;
        right: 0;
        bottom: 0;
        opacity: 0.2;
        z-index: 1;
        width: 400px;
        * {
            width: 100% !important;
        }
        .gray {
            background-color: ohma.$colors-gray-500;
            filter: grayscale(100%);
        }
    }

    .content {
        z-index: 2;
    }
}