@use "@/styles/ohma";


.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 100%;
    h1{
        text-align: center;
        font-size: 6em;
        font-family: ohma.$fonts-secondary;
        margin: 0.2em 0 0.2em 0;
    }
}