@use '@/styles/ohma';

@mixin rangeStyles($color, $width, $border-radius) {

  &.start {

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: $width;
      background-color: $color;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }

  &.end {

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: $width;
      background-color: $color;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &.inRange {
    background-color: $color;
  }
}

.calendar {
  width: 100%;
  max-width: 30rem;
  border: 2px solid black;
  border-radius: ohma.$rounding;
  margin-top: 1rem;
  max-height: 30rem;
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 5px;

  .weekDays {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(7, 1fr);
    flex: 1;
    text-align: center;

    >.day {
      position: relative;
      min-height: 2.3rem;

      .front,
      .behind {
        position: absolute;
        height: 100%;
        width: 100%;
      }

      >.front {
        z-index: 1;
        @include rangeStyles(ohma.$colors-primary, 100%, 10px);

        &.inRange {
          background-color: lighten(ohma.$colors-primary, 30);
        }

        >.dateNumber {
          padding: 4px;
          font-size: 1.3rem;
          position: relative;
        }
      }

      >.behind {
        z-index: 0;
        background-color: green;

        .left, .right {
          width: 50%;
          height: 100%;
        }

        .left {
          float: left;
        }

        .right {
          float: right;
        }

        &.inRange {
          .left, .right {
            background-color: red;
          }
        }
        &.start {
          .right {
            background-color: red;
          }
        }
        &.end {
          .left {
            background-color: red;
          }
        }
      }

      &.exists:hover {
        background-color: ohma.$colors-gray-300;
      }
    }

  }

  .weekNumber {
    width: 2.5rem;
  }

  >.week {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  >.weekHeader {
    background: ohma.$colors-body-background;
    position: sticky;
    top: 0;
    z-index: 2;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  >.monthHeader {
    position: relative;
    z-index: 1;
    text-align: center;
  }
}
