@use '@/styles/ohma';


.lockerList {
    background-color: ohma.$colors-gray-100;
    filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.3));
    border: 1px solid ohma.$colors-gray-300;
    border-radius: 10px;
    padding: 1em;
}

.lockerListHeader {
    display: grid;
    border-bottom: 2px solid ohma.$colors-gray-300;
    grid-template-columns: repeat(6, 1fr);
    
    @media (max-width: 600px) {
        grid-template-columns: repeat(5, 1fr);
        .hideFirst {
            display: none;
        }
    }

    @media (max-width: 500px) {
        grid-template-columns: repeat(4, 1fr);
        .hideSecond {
            display: none;
        }
    }
}

.lockerListHeader h3 {
    padding: 1rem;
}
