@use '@/styles/ohma';

.wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    > .imgSelection {
        min-width: clamp(50vw, 700px, 90vw);
        min-height: 50vh;
        background-color: ohma.$colors-gray-500;
        border-radius: ohma.$rounding;
        padding: ohma.$rounding;
    }
    > .form {
        min-width: 250px;
        
    }
}