@use '@/styles/ohma';

.lockerCard {
    margin:3em 1em;
    padding: 1em 2em;
    justify-content: center;
    background-color: white;
    align-items: center;
    max-width: 500px;
    filter: drop-shadow(5px 15px 5px rgba(0, 0, 0, 0.3));
    border: 1px solid ohma.$colors-gray-300;
    border-radius: 10px;
}