@use '@/styles/ohma';

.lockerCard {
    padding: 1em 2em;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid ohma.$colors-gray-300;
    border-radius: 10px;
}


.header {

}