@use '@/styles/ohma';

.CreateOmbul {
    display: flex;
    align-items: center;
    height: 70vh;
    textarea {
        min-height: 100px;
    }
    .form {
        min-width: 35vw;
    }
    .imgPreview {
        margin-left: 2*ohma.$gap;
        width: 100%;
        height: 100%;
        img {
            width: 35vw;
            height: 100%;
            object-fit: contain;
            margin-bottom: ohma.$gap;
        }
        
    }
}