@use '@/styles/ohma';

.OmbulCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    .coverImg {
        width: 100%;
        > *, > * > * {
            border-radius: ohma.$rounding;
            overflow: hidden;
            width: 100% !important;
            height: 100%;
        }
        img {
            width: 100% !important;
            height: 100%;
            object-fit: cover;
            min-height: 50px;
        }
    }
    > * {
        text-align: center;
        width: 100%;
    }
    > p {
        font-weight: ohma.$fonts-weight-s;
    }
    > h2::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: ohma.$colors-gray-500;
        margin-bottom: ohma.$gap;
    }
    @media screen and (max-width: ohma.$mobileBreakpoint) {
        > h2 {
            font-size: ohma.$fonts-xl;
        }
    }
}