@use '@/styles/ohma';

.wrapper {
    margin-top: 2*ohma.$gap;
    display: flex;
    flex-direction: column;
    .ombulList {
        width: 100%;
        @include ohma.ImageCardListLayout;
        > * {
            width: 100%;
        }
    }
}