@use "@/styles/ohma";

.wrapper {
    height: 100%;
    width: 100vw;

    display: table-cell;
    vertical-align: middle;
    > .card {
        margin: auto;
        width: 60%;
        @include ohma.card;
        margin-top: 4*ohma.$gap;
        margin-bottom: 4*ohma.$gap;
        padding: 4*ohma.$gap;

        @include ohma.screenLg {
            @include ohma.pagePadding(650px);
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;

            > .input {
                grid-column: 1/2;
                max-width: 250px;
                margin: auto;
            }
    
            > .image {
                display: grid;
                place-items: center;
                grid-column: 2/3;
            }
        }
        > .image {
            display: grid;
            place-items: center;
            grid-column: 2/3;
        }
    }
}