@use "@/styles/ohma";

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > .card {
        width: 60%;
        padding: 4*ohma.$gap; 
        border-radius: 3em;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: ohma.$slate;
        > .input {
            grid-column: 1/2;
            max-width: 250px;
            margin: auto;
        }
        > .image {
            display: grid;
            place-items: center;
            grid-column: 2/3;
        }
    }
}