@use "@/styles/ohma";

.wrapper {
    height: 100dvh;
    width: 100dvw;

    vertical-align: middle;
    display: flex;
    justify-content: center;

    > .card {
        padding: 4*ohma.$gap;
        border-radius: ohma.$cardRounding;
        display: flex;
        height: min-content;

        @include ohma.neumorphism();

        > .image {
            display: grid;
            place-items: center;
            grid-column: 2/3;
            filter: invert(1);
        }

        @include ohma.screenLg {
            margin-top: 6*ohma.$gap;
            > .input {
                grid-column: 1/2;
                max-width: 250px;
                margin: auto;
            }
        }

        @include ohma.screenMobile {
            flex-direction: column-reverse;
            margin: 3*ohma.$gap;
        }
    }
}