@use '@/styles/ohma';

.calendar {
  width: 100%;
  border: 2px solid black;
  padding: 5px;
  margin-top: 1rem;

  .weekDays {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(7, 1fr);
    flex: 1;

    >.wrongMonth {
      color: ohma.$colors-gray-500;
    }

    >.day {
      padding: 4px;
      height: 2.5rem;
      font-size: 1.3rem;
      text-align: center;

      &:hover {
        background-color: ohma.$colors-gray-300;
      }
    }

    .startSelect {
      background: linear-gradient(to right, ohma.$colors-body-background 50%, ohma.$colors-primary 50%);
    }

    .endSelect {
      background: linear-gradient(to left, ohma.$colors-body-background 50%, ohma.$colors-primary 50%);
    }


    >.inRange {
      background-color: lighten(ohma.$colors-primary, 30);
    }
  }

  .weekNumber {
    width: 2.5rem;
  }

  >.week {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
