@use '@/styles/ohma';

$color-mapping: (
  ROOM: ohma.$colors-blue,
  EVENT: ohma.$colors-green,
  CABIN: ohma.$colors-purple,
  RESERVED: ohma.$colors-red
);

@mixin rangeStyles($color) {

  &.start {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      background-color: $color;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &.end {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      background-color: $color;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &.inRange {
    background-color: $color;
  }
}

.calendar {
  width: 100%;
  border: 2px solid black;
  padding: 5px;
  margin-top: 1rem;

  .weekDays {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(7, 1fr);
    flex: 1;

    >.wrongMonth {
      color: ohma.$colors-gray-500;
    }

    >.day {
      min-height: 2.5rem;
      text-align: center;

      @include rangeStyles(ohma.$colors-primary);

      &.inRange {
        background-color: lighten(ohma.$colors-primary, 30);
      }

      >.dateNumber {
        padding: 4px;
        font-size: 1.3rem;
        position: relative;
        z-index: 2;
      }

      &:hover {
        background-color: ohma.$colors-gray-300;
      }

      >.markerContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        >div {
          min-height: 1.05rem;
        }

        @each $key, $color in $color-mapping {
          >.#{$key} {
            @include rangeStyles($color);
            z-index: 2;
          }
        }

      }
    }

  }

  .weekNumber {
    width: 2.5rem;
  }

  >.week {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}
