@use '@/styles/ohma';

.themeList {
  padding: 10px;
  margin: 10px 0;
  background: linear-gradient(135deg, var(--primarylight-color), var(--secondarylight-color));
  color: var(--secondarylight-color);
  border-radius: 8px;
  transition: background 0.3s ease;
}


.themeUl {
  background: linear-gradient(var(--primarylight-color), var(--secondarylight-color));
}

.themeName {
    font-size: 20px;
    font-weight: bold;
}

.buttonGroup {
  display: flex;
  gap: 10px;               // Add some spacing between buttons
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Edit Button */
.editButton {  
  background-color: var(--secondarydark-color);
  color: var(--primarydark-color);            
}

.editButton:hover {
  filter: brightness(75%);
}

/* Delete Button */
.deleteButton {
  background-color: var(--primarydark-color);
  color: var(--secondarydark-color); 
}

.deleteButton:hover {
  filter: brightness(75%);
}
