@use '@/styles/ohma';

.themeList {
  padding: 10px;
  margin: 10px 0;
  background: linear-gradient(135deg, var(--primaryLight), var(--secondaryLight));
  color: var(--secondaryLight);
  border-radius: 8px;
  transition: background 0.3s ease;
}


.themeUl {
  background: linear-gradient(var(--primaryLight), var(--secondaryLight));
}

.themeName {
    font-size: 20px;
    font-weight: bold;
}