@use "@/styles/ohma";

.wrapper {
    @include ohma.pagePadding();

    h1 {
        font-family: ohma.$fonts-secondary;
        font-size: ohma.$fonts-xxl;
        text-transform: capitalize;
    }
}