@use '@/styles/ohma'; 

.display {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    scale: 0;
    &.animate {
        // animation goes fast - slow - fast
        animation: scale-in 10s forwards cubic-bezier(0.90, 0.05, 0.90, 0.05), fade 5s 1s forwards;
    }
    img {
        width: 50vw !important;
    }
    span {
        color: ohma.$colors-gray-200;
        font-size: 15rem;
    }

    h1 {
        &:first-child {
            font-size: 10rem;
        }
        &:nth-child(2) {
            font-size: 16rem;
        }
        color: ohma.$colors-gray-200;
    }
}

@keyframes scale-in {
    0% {
        scale: 0;
    }
    40% {
        scale: 20;
    }
    100% {
        scale: 300;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}