@use '@/styles/ohma';

.FinalCountdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0;
    h1 {
        font-size: 10rem;
        color: ohma.$colors-red;
        &.applicants {
            font-size: 8rem;
            color: ohma.$colors-gray-200;
            text-align: center;
        }
    }
    &.animate {
        animation: scale-in .8s forwards cubic-bezier(0.90, 0.05, 0.90, 0.05);
    }
}

@keyframes scale-in {
    0% {
        scale: 0;
    }
    100% {
        scale: 3;
    }
}