@use '@/styles/ohma';

.Countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 16rem;
    font-weight: 800;
    color: ohma.$colors-red;
}

.Countdown div {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    min-width: 60px;
}

.Countdown span {
    font-size: 13rem;
    color: ohma.$colors-gray-200;
    transform: translateY(-5%);
}