@use '@/styles/ohma';

.hiddenInput {
    display: none;
}
$padding: 0.8rem;
$border: 1px;
.EditableTextField {
    position: relative;
    .icon {
        position: absolute;
        right: calc($padding / 2);
        top: calc($padding / 2);
        color: ohma.$colors-primary
    }
    .text {
        position: relative;
        padding: $padding;
        border: $border solid ohma.$colors-primary;; // Add this line
        border-radius: ohma.$rounding;
        &:focus {
            outline: 2px solid ohma.$colors-primary;
        }
    }
}

