@use '@/styles/ohma';
//TODO: fix styling to be aligned to the future styling pr



.periodTable{
    border: 2px solid hsla(0, 0%, 70%, 0.507);
    border-collapse: collapse;
    text-align: center;
    @include ohma.round;
}


.tableEntry {
    border: 2px solid hsla(0, 0%, 70%, 0.507);
    padding: 1em;
}

.currentPeriodEntry{
    font-weight: bold;
    background-color: hsla(120, 100%, 70%, 0.288);
}

.periodHeading{}
.periodSection{}