@use '@/styles/ohma';

$max-width: 1200px;

.wrapper {
    color: ohma.$colors-text;
    $width: 100%;

    width: $width;
    max-width: $max-width;
    margin-left: max(calc(($width - min($width, $max-width)) / 2), 0px);
    position: relative;
    overflow-y: hidden;

    align-self: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 2em;
    h1 {
        font-family: ohma.$fonts-secondary;
        font-size: ohma.$fonts-xxl;
        text-transform: capitalize;
    }

    .inlineHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.committeeList {
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    gap: 2em;
    justify-content: center;
    overflow: visible;

    @include ohma.screenMobile {
        grid-template-columns: repeat(auto-fill, 200px);
    }
}
