@use '@/styles/ohma';

.wrapper {
    width: 100%;
    height: 100%;
    color: ohma.$colors-text;

    align-self: flex-start;
    h1 {
        font-family: ohma.$fonts-secondary;
        font-size: ohma.$fonts-xxl;
        text-transform: capitalize;
    }

    .inlineHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.committeeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: ohma.$gap;
    overflow: visible;

    @include ohma.screenMobile {
        grid-template-columns: 1fr;
    }
}
