@use '@/styles/ohma';

.EventWrapper {
    @include ohma.listRow;
}

.tags {
    display: flex;
    align-items: center;
    gap: ohma.$gap;
    list-style-type: none;
}

.registrations {
    color: ohma.$colors-text;
    font-weight: ohma.$fonts-weight-m;
}
