@use '@/styles/ohma';

.EventTagsAdmin {
    max-height: 80svh;
    .create {
        display: flex;
        align-items: center;
        form {
            display: flex;
            flex-direction: row wrap;
            @include ohma.screenLg {
                align-items: center;
                justify-content: center;
                gap: 1em;
            }
            @include ohma.screenMobile {
                flex-direction: column;
            }
        }
    }
    ul {
        margin-top: 1em;
        display: flex;
        flex-flow: row wrap;
        gap: 2em;
        overflow-y: auto;
        overflow-x: visible;
        list-style-type: none;
        isolation: isolate;
        padding-bottom: 5em;
        a {
            text-decoration: none;
        }
        li {
            display: flex;
            align-items: center;
            z-index: 1;
        }
        li:hover {
            z-index: 2;
        }
    }
}