@use '@/styles/ohma';

.EventTagsAdmin {
    max-height: 80svh;
    .create {
        display: flex;
        align-items: center;
        form {
            display: flex;
            flex-direction: row wrap;
            align-items: center;
            justify-content: center;
            gap: 1em;
        }
    }
    ul {
        margin-top: 1em;
        display: flex;
        flex-flow: row wrap;
        gap: 2em;
        overflow-y: auto;
        list-style-type: none;
        isolation: isolate;
        padding-bottom: 5em;
        li {
            z-index: 1;
        }
        li:hover {
            z-index: 2;
        }
    }
}