@use '@/styles/ohma';

.SmallEventTag {
    position: relative;
    svg {
        width: 1.5em;
        height: 1.5em;
    }
    p {
        position: absolute; 
        left: 3*ohma.$gap;
        top: 0;
        display: none;
    }
    &:hover {
        p {
            display: block;
        }
    }
}