@use '@/styles/ohma';

.AddParts {
    position: relative;
    padding: ohma.$gap;
    border: ohma.$colors-secondary 3px solid;
    border-radius: ohma.$rounding;
    min-height: 100px;
    padding: 1em;
    > .addControls {
        position: absolute;
        bottom: 3px;
        right: 3px;
        z-index: 1;
        display: flex;
        button {
            display: flex;
        }
    }
    padding-bottom: 60px;
}