@use '@/styles/ohma';

.AddPartToArticleSection {
    padding: ohma.$gap;
    max-width: 100%;
    > .wrapper {
        position: relative;
        border: ohma.$colors-secondary 3px solid;
        border-radius: ohma.$rounding;
        min-height: 100px;

        padding: 2*ohma.$gap;
        &.paddingBottom {
            padding-bottom: 60px;
        }

        //buttons
        >*:last-child {
            position: absolute;
            bottom: 3px;
            right: 3px;
        }
    }
}