@use '@/styles/ohma';

.ArticleSection {
    .content {
        display: flex;
        flex-direction: row wrap;
        > .paragraphAndLink {
            min-height: 100%;
            flex: 1 1 100%;
            display: flex;
            flex-direction: column;
            > .paragraph {
                flex: 1;
                > .paragrphComponent {
                    width: 100%;
                    height: 100%;
                }
            }
            > .link {
                min-height: 50px; 
            }
        }
        > .image {
            > *:not(.remover) {
                overflow: hidden;
                border-radius: ohma.$rounding;
            }
        }
        > span, > div > span {
            margin: ohma.$gap;
            position: relative;
            isolation: isolate;
            > .remover {
                position: absolute;
                top: -10px;
                left: -10px;
                z-index: 2;
            }
        }
    }
}