@use '@/styles/ohma';

.ArticleSection {
    .content {
        display: flex;
        flex-direction: row wrap;
        > .paragraphAndLink {
            min-height: 100%;
            flex: 1 1 100%;
            display: flex;
            > .paragraph {
                width: 100%;
            }
        }
        > .image {
            isolation: isolate;
            > *:not(.remover) {
                overflow: hidden;
                border-radius: ohma.$rounding;
            }
            > .remover {
                z-index: 2;
            }
        }
        > span, > div > span {
            position: relative;
            > .remover {
                position: absolute;
                top: -10px;
                left: -10px;
                z-index: 1;
            }
        }
    }
}