@use '@/styles/ohma';

.ArticleSection {
    isolation: isolate;
    .content {
        display: flex;
        flex-flow: row wrap;
        > *:first-child {
            z-index: 2; //Neccessary for the remover confirmation to be on top of the thing on right
        }
        > *:nth-child(2) {
            z-index: 1; //Neccessary for the remover confirmation to be on top of the thing on right    
        }
        > .paragraphAndLink {
            min-height: 100%;
            flex: 10 0 250px;
            display: flex;
            flex-direction: column;
            margin-bottom: ohma.$gap;
            > .paragraph {
                flex: 1 1 100%;
            }
            > .link {
                max-width: 200px;
            }
        }
        > .image {
            flex: 1 0;
            position: relative;
            max-width: 100%;
            //CMS-Image
            > *:first-child {
                overflow: hidden;
                border-radius: ohma.$rounding;
                width: 100%;
                max-width: 90vw;
                > * {
                    min-width: 100%;
                    max-width: 83vw;
                }
            }
        }
        .image, .link, .paragraph {
            margin: ohma.$gap;
            position: relative;
            isolation: isolate;
            > .remover {
                position: absolute;
                top: -10px;
                right: -10px;
                z-index: 2;
            }
            > *:not(.remover) {
                z-index: 1;
            }
        }
    }
}