@use '@/styles/ohma';

.ImageControls {
    > button {
        position: absolute;
        transform: translateY(-50%);
        width: 30%;
        height: 100%;
        top: -50%;
        background-color: ohma.$colors-gray-800;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        svg {
            color: white;
            width: 40%;
            height: 40%;
        }
        path {
            translate: 10px 0;
        }
        &:hover {
            background-color: ohma.$colors-gray-700;
            cursor: pointer;
            svg {
                color: ohma.$colors-primary;
            }
        }
    }
    > .moveLeft {
        border-radius: ohma.$rounding 0 0 ohma.$rounding;
        left: 0;
    }
    > .moveRight {
        border-radius: 0 ohma.$rounding ohma.$rounding 0 ;
        right: 0;
    }

    > .adjustSize {
        position: absolute;
        top: -100%;
        background-color: ohma.$colors-gray-800;
        padding: .5em;

        &.placeLeft {
            left: 0;
            border-top-left-radius: ohma.$rounding;
        }
        &.placeRight {
            right: 0;
            border-top-right-radius: ohma.$rounding;
            
            //avoid the x to remove image
            padding-top: 1.2em;
            padding-right: 1.2em;
        }
        .disabled {
            opacity: .5;
        }
        button {
            &:hover:not(.disabled) {
                cursor: pointer;
                svg {
                    color: ohma.$colors-primary;
                }
            }
            background-color: transparent;
            border: none;
            width: 25px;
            height: 25px;
            &:first-child {
                margin-right: 2*ohma.$gap;
            }
            svg {
                width: 100%;
                height: 100%;
                color: ohma.$colors-white;
            }
        }
    }
}