@use '@/styles/ohma';

.ImageControls {
    width: 100%;
    height: 100%;
    position: relative;
    > .moveLeft {
        border-radius: ohma.$rounding 0 0 ohma.$rounding;
        position: absolute;
        transform: translateY(-50%);
        width: 30%;
        height: 100%;
        top: -50%;
        background-color: ohma.$colors-gray-800;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        path {
            translate: 10px 0;
        }
        &:hover {
            background-color: ohma.$colors-gray-700;
            cursor: pointer;
            color: ohma.$colors-primary;
        }
    }
}