version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    groups:
      minor:
        update-types:
        - "minor"
        - "patch"
      major:
        update-types:
        - "major"
        
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "node"
        versions: ["23.x"]

