@use '@/styles/ohma';

.AddParts {
    padding: ohma.$gap;
    max-width: calc(100% - 2 * ohma.$gap);
    > .wrapper {
        position: relative;
        border: ohma.$colors-secondary 3px solid;
        border-radius: ohma.$rounding;
        min-height: 100px;
        > .addControls {
            position: absolute;
            bottom: 3px;
            right: 3px;
            z-index: 1;
            display: flex;
            button {
                display: flex;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        padding: 2*ohma.$gap;
        &.paddingBottom {
            padding-bottom: 60px;
        }
    } 
}