@use '@/styles/ohma';


.AddParts {
    z-index: 1;
    display: flex;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
    }
}