@use '@/styles/ohma';

.channelSettings {
    width: 100%;

    > p {
        font-weight: lighter;
        margin-bottom: 1rem;
    }
}

.widerDiv {
    $description-max-width: 350px;

    max-width: $description-max-width;

    .descriptionInput {
        max-width: $description-max-width;
        width: 100%;
    }
}

.methodContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}