@use '@/styles/ohma';

.container {
    $screen-small: 850px;

    display: flex;

    .channelSelect {
        background-color: ohma.$colors-gray-200;
        border-radius: ohma.$rounding;
    }

    @media screen and (max-width: $screen-small) {
        flex-direction: column;

        .channelSelect {
            max-height: 200px;
            overflow-y: scroll;
        }
    }

    @media screen and (min-width: $screen-small) {
        flex-direction: row;

        .channelSelect {
            width: 200px;
            overflow-y: auto;
            max-height: 500px;
            margin-right: 1rem;
        }
    }
}