@use '@/styles/ohma';

.channelSettings {

    $screen-small: 700px;
    $description-max-width: 350px;

    width: 100%;
    
    > .methodContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .descriptionInput {
        max-width: $description-max-width;
        width: 100%;
    }

    > .upperSettings {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        @media screen and (max-width: $screen-small) {
            flex-direction: column;
        }

        > div {
            display: flex;
            flex-direction: column;
        }

        > .widerSettings {
            width: 100%;
            max-width: $description-max-width;
        }
    }
}