@use '@/styles/ohma';

.subscriptionItem {

    .channelName {
        --depth: 0;

        padding-left: calc(var(--depth) * 1rem);
    }

    .checkbox {
    
        > div {
            display: flex;
            justify-content: center;
        }
    }
}
