# node
node_modules
npm-debug.log

# eslint
.eslintignore
.eslintrc.json

# next js
build
.next

# configs
# you should be explicit in docker-compose about what env-vars should be loaded into a container
.env 
.env.default
next-env.default.d.ts
nginx.conf

# info
README.md
docs

# git
.git
.gitignore
.github

# docker
.dockerignore
docker-compose.yml
docker-compose.dev.yml
Dockerfile

# generated prisma client(s)
generated
