services:
    projectnext:
        extends:
            file: docker-compose.base.yml
            service: projectnext
        build:
            target: test
        tty: true # Allows for colorized output
        volumes:
            - ${PROJECT_ROOT:-.}/src:/usr/src/app/src
            - ${PROJECT_ROOT:-.}/tests:/usr/src/app/tests
            - /usr/src/prisma/generated/ # Exclude prisma generated files from volume
    
    db:
        extends:
            file: docker-compose.base.yml
            service: db
        ports:
            - 5432:5432
