@use '@/styles/ohma';
//TODO: fix styling to be aligned to the future styling pr


.applicationContainer { 
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    border: 2px solid hsla(0, 0%, 70%, 0.507);
    @include ohma.round;

}

.headingContainer {
    display: flex;
    align-items: center;

    * {
        display: inline-block;
        margin-inline: 0.1em;
    }
}


.applicantName {
    color: black;
}

.applicationsContainer {}
.profilePicture {}
.applicationTextContainer {}
.applicationText {}