@use '@/styles/ohma';

.OmbulAdmin {
    background-color: ohma.$colors-secondary;
    @include ohma.card();
    display: flex;
    justify-content: space-between;
    .coverImage {
        border-radius: ohma.$rounding;
        overflow: hidden;
    }
    > .left {
        > :first-child {
            border-bottom: 3px solid ohma.$colors-gray-700;
            margin-bottom: 2em;
        }
    }
}