@use "@/styles/ohma";

.Footer {
    font-weight: ohma.$fonts-weight-s;
    @include ohma.layer;
    color: ohma.$colors-text;
    display: flex;
    flex-wrap: wrap;
    padding: calc(10 * #{ohma.$gap}) clamp(calc(2 * #{ohma.$gap}), 5vw, calc(20 * #{ohma.$gap}));
    > * {
        flex: 1 1 calc(30 * #{ohma.$gap});
        p {
            margin-bottom: ohma.$gap;
            line-height: ohma.$fonts-line-height-m;
        }
        padding: 0 calc(5 * #{ohma.$gap}) 0 calc(2 * #{ohma.$gap});
        &:first-child {
            flex: 2 1 calc(40 * #{ohma.$gap});
            padding-left: 0;
        }
    }
    .pwa {
        @include ohma.primaryIconLink;
        padding-left: 0;
        width: 100%;
        height: 100%;
    }
    .icons {
        display: flex;
        justify-content: flex-start;
        a > * {
            @include ohma.primaryIconLink;
            > *:first-child {
                padding-left: 0;
            }
        }

    }
}

.infoGroup {
    flex: 2 1 calc((2 * 28 + 5) * #{ohma.$gap});
    display: flex;
    flex-wrap: wrap;
    gap: calc(2 * #{ohma.$gap}) calc(5 * #{ohma.$gap});
    padding: 0;
}

.info {
    flex: 1 1 calc(28 * #{ohma.$gap});
    padding-left: calc(2 * #{ohma.$gap});
    border-left: solid 1px ohma.$colors-text-muted;
    > *:first-child {
        color: ohma.$colors-accent-blue;
        font-weight: ohma.$fonts-weight-m;
        font-size: ohma.$fonts-l;
    }
    a {
        text-decoration: none;
        color: ohma.$colors-text;
        &:hover {
            text-decoration: underline;
        }
    }
}

.sponsors {
    flex: 1 1 calc(30 * #{ohma.$gap});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    > * {
        margin: ohma.$gap;
    }
    a {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: ohma.$mobileBreakpoint) {
    .Footer {
        padding: ohma.$gap calc(2 * #{ohma.$gap}) calc(4 * #{ohma.$gap});
        flex-direction: column;
        align-items: center;
        > * {
            flex: 0 1 auto;
            padding: 0;
            margin-top: calc(5 * #{ohma.$gap});
            display: flex;
            flex-direction: column;
            align-items: center;
            &:first-child {
                flex: 0 1 auto;
            }
            :nth-child(1) {
                padding-left: 0;
            }
        }
        .icons {
            justify-content: center;
        }
        p {
            text-align: center;
            max-width: 400px;
        }
    }
    .infoGroup {
        width: 100%;
        gap: 0;
    }
    .info {
        border-left: none;
        padding-left: 0;
        &:not(:first-child) {
            margin-top: calc(5 * #{ohma.$gap});
        }
    }
}
