@use '@/styles/ohma';

.OmegaIdReader {
    margin: auto;
    max-width: 300px;


    > .feedbackBox {
        color: ohma.$colors-white;
        width: 100%;
        height: 3rem;
        border-radius: ohma.$cardRounding;
        border-color: ohma.$colors-black;
        border-width: 2px;
        font-size: ohma.$fonts-l;
        align-content: center;
        text-align: center;
    }

    > .success {
        background-color: ohma.$colors-green;
    }

    > .error {
        background-color: ohma.$colors-red;
    }
}