@use "@/styles/ohma";

.name {
    color: ohma.$colors-white;
}

.Dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 0;
    > .dropdownItem {
        background-color: ohma.$colors-gray-700;
        padding: ohma.$gap;
        &:hover {
            background-color: ohma.$colors-primary;
            .linkName, .icon {
                color: ohma.$colors-black
            }
        }
        > a {
            display: flex;
            flex-flow: row;
            text-decoration: none;
            .icon {
                color: ohma.$colors-white;
                margin-right: 3px;
            }
            .linkName {
                text-decoration: none;
                color: ohma.$colors-white;
                font-size: ohma.$fonts-m;
            }
        }
    }
}
  
.Dropdown:hover {
    .dropdownContent {
        display: block;
    }
    cursor: pointer;
}