@use "@/styles/ohma";

.link {
    text-decoration: none;
    color: ohma.$white;
    font-size: ohma.$mFont;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: ohma.$yellow;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    text-decoration-skip-ink: none;
}