@use '@/styles/ohma';

.openBtn {
    background-color: transparent;
    border: none;
    :hover {
        cursor: pointer;
    }
}

.Menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: radial-gradient(circle at top left, ohma.$colors-secondary 50%, transparent 90%);
    width: min(80vh, 80vw);
    height: min(80vh, 80vw);
    border-end-end-radius: 100%;
    padding: 0 12.5% 12.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .close {
        position: absolute;
        top: 0;
        left: 0;
        margin: 1rem;
        background-color: transparent;
        border: none;
        &:hover {
            cursor: pointer;
        }
        width: 50px;
        height: 50px;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    li {
        list-style: none; 
        margin-bottom: 10px; 
        a {
            text-decoration: none; 
            color: black; 
            display: flex;
            align-items: center; 
            color: ohma.$colors-white;
            font-size: ohma.$fonts-l;
            font-weight: ohma.$fonts-weight-l;
            &:hover {
                color: ohma.$colors-primary;
                svg {
                    color: ohma.$colors-primary;
                }
            }
            svg {
                margin-right: 5px;
                color: ohma.$colors-white;
            }
        }
    }
    animation: radiate .4s ease-out forwards;
    &.closeMenu {
        animation: deradiate .4s ease-in forwards;
    }
}

@keyframes radiate {
    0% {
        clip-path: circle(0% at top left);
    }
    100% {
        clip-path: circle(100% at top left);
    }
}

@keyframes deradiate {
    0% {
        clip-path: circle(100% at top left);
    }
    100% {
        clip-path: circle(0% at top left);
    }
}

