@use '@/styles/ohma';

.openBtn {
    background-color: transparent;
    border: none;
    :hover {
        cursor: pointer;
    }
}

.Menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}