@use '@/styles/ohma';

.openBtn {
    background-color: transparent;
    border: none;
    :hover {
        cursor: pointer;
    }
}

.Menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(ohma.$colors-secondary, 0.5);
    width: 100vw;
    height: 100vh;
}

.overlay {
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
}