@use "@/styles/ohma";

.NavBar {
    color: ohma.$white;
    font-size: ohma.$mFont;
    background-color: ohma.$gray-900;
    padding: 0 3*ohma.$gap;
    > ul {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    .logo {
        margin: ohma.$gap;
        margin-left: 2*ohma.$gap;
    }
    .magicHat {
        @include ohma.yellowBtn;
        padding: 2*ohma.$gap;
    }
}

