@use '@/styles/ohma';

.Company {
    border-radius: ohma.$cardRounding;
    padding: ohma.$gap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .logo, .logoSq {
        overflow: hidden;
        display: flex;
        align-items: center;
        margin-bottom: ohma.$gap;
        border-radius: calc(#{ohma.$cardRounding} - #{ohma.$gap});
    }
    .logoSq {
        aspect-ratio: 1/1;
    }
    .info {
        margin: 0 ohma.$gap;
        position: relative;
        h2 {
            font-size: ohma.$fonts-xl;
        }
        .showSettings {
            color: ohma.$colors-text;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}