@use '@/styles/ohma';

.SlideInOnView {
    opacity: 0;
    &.bottom {
        transform: translate(0, 20px);
    }
    &.top {
        transform: translate(0, -20px);
    }
    &.left {
        transform: translate(-20px, 0);
    }
    &.right {
        transform: translateX(20px, 0);
    }
    transition: opacity 1s, transform .6s; 
    &.visible {
        opacity: 1;
        transform: translate(0, 0);
    }
}

