@use '@/styles/ohma';
$imageWidth: 300px;

.Badge {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 15px;

    .cmsImageContainer {
        border-radius: 50%;
        border: 10px solid ohma.$colors-primary;
    }
    .cmsImage {
        width: $imageWidth;
        height: $imageWidth;
        overflow: hidden;
        border-radius: 50%;
        .image {
            width: $imageWidth !important;
            object-fit: cover;
            aspect-ratio: 1;
        }

    }
    .text {
        padding-left: 5em;

    }
    .name {
        padding-top: 1em;
        text-transform: uppercase;
        font-size: ohma.$fonts-xl;
    }
    .update {
        margin-left: 1em;
        
    }

}


