@use "@/styles/ohma";

.EditNews {
    margin: .5em 3em;
    @include ohma.card;
    background-color: ohma.$colors-secondary;
    color: ohma.$colors-white;
    display: flex;
    .update {
        margin-right: 1em;
        max-width: 200px;
    }
    .visibility {
        margin-right: 1em;
        flex: 1;
        button[type="submit"] {
            width: 200px; 
        }
    }
}