@use '@/styles/ohma';

.SectionMover {
    display: flex;
    width: 100%;
    justify-content: center;
    button {
        @include ohma.btn(ohma.$colors-primary);
        border-radius: 50%;
        padding: 1em;
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}