.title {
    width: 100%;
    text-align: center;
    margin: 1em 0;
}


.camera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.button {
    width: auto;
    margin: 1em;
}
