@use '@/styles/ohma';

.OmegaquoteQuote {

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;

    > .QuoteBubble {
        > p {
            font-family: ohma.$fonts-secondary;
            font-size: ohma.$fonts-xl;
            font-weight: lighter;
            box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
            display: block;
            text-align: left;
            padding: 2rem 3rem;
            color: #495057;
            font-style: italic;
            border-radius: 25px;
            background: #FFF;
        }
    }

    > .triangle {
        transform: scaleX(2);
        color: #fff;
        text-shadow: 0 1px 1px rgba(255,255,255,.3),0 3px 3px rgba(0,0,0,.4);
        font-size: 25px;
        position: absolute;
        margin-top: -8px;
        left: 70px;
    }

    > h3 {
        margin-left: 1.5rem;
        margin-top: 1.5rem;
    }

    > .timestamp {
        margin-left: 2rem;
    }
}