@use '@/styles/ohma';

.countDown {
    font-size: ohma.$fonts-m;
}

.committees {
    list-style: none;
    > li {
        background-color: ohma.$colors-gray-200;
        margin: 1em 0;
        min-height: 250px;
        display: flex;
        overflow: hidden;
        > * {
            flex: 1 1 100%;
        }
        .committeeLogo {
            padding: 0.5em;
        }
        .navigation {
            display: flex;
            gap: 0.5em;
            .applyButton {
                @include ohma.btn(ohma.$colors-primary);
                margin: 0;
            }
            .committeeLink {
                @include ohma.borderBtn(ohma.$colors-secondary);
                margin: 0;
            }
        }
    }
}