@use '@/styles/ohma';

.layout {
    min-height: 50vh;
}

.navContainer {
    @include ohma.screenLg {
        position: absolute;
        top: 3em;
        right: 0;
    }
    @include ohma.screenMobile {
        z-index: 5;
    }
}

.content {
    margin-right: 2em;
}