@use '@/styles/ohma';

.pageLayout {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    min-height: 0;
}

.main {
    min-height: 0;
    border-radius: ohma.$rounding;
    margin-bottom: ohma.$gap;
    overflow-y: scroll;
}

.pageWrapper {
    border-radius: ohma.$rounding;
}