@use '@/styles/ohma';

.Nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    @include ohma.screenMobile {
        flex-direction: row;
    }
    a {
        @include ohma.roundAdminSvgBtn();
        &.selected {
            background-color: ohma.$colors-secondary;
        }
    }
}
