@use '@/styles/ohma';

.headerItemBtn {
    display: grid;
    place-items: center;
    border: none;
    border-radius: 50%;
    background-color: ohma.$colors-surface-hover;
    color: ohma.$colors-text;
    cursor: pointer;
    transition: background-color ohma.$transitionTime, color ohma.$transitionTime, box-shadow 0.3s;

    &:hover {
        background-color: ohma.$colors-surface-subtle;
        color: ohma.$colors-ink-strong;
    }
}

.pill {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(1.5 * #{ohma.$gap});
    padding: 0 calc(1.75 * #{ohma.$gap}) 0 calc(2.5 * #{ohma.$gap});
    border-radius: calc(#{ohma.$rounding} - #{ohma.$gap});
    color: ohma.$colors-ink-strong;

    svg {
        color: ohma.$colors-text;
        transition: color ohma.$transitionTime;
    }

    &:hover svg {
        color: ohma.$colors-accent-blue;
    }
}

.label {
    font-size: ohma.$fonts-m;
    font-weight: ohma.$fonts-weight-m;
    white-space: nowrap;
}
