@use '@/styles/ohma';

.wrapper {
    padding: calc(2 * #{ohma.$gap});
    display: flex;
    flex-direction: column;
    gap: calc(2 * #{ohma.$gap});

    > p {
        color: ohma.$colors-text-muted;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: ohma.$gap;
    padding-bottom: calc(2 * #{ohma.$gap});
    border-bottom: 1px solid ohma.$colors-surface-subtle;

    &:last-child {
        border-bottom: none;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: calc(2 * #{ohma.$gap});
}

.column {
    display: flex;
    flex-direction: column;
    gap: ohma.$gap;
    max-width: calc(60 * #{ohma.$gap});
}
