@use '@/styles/ohma';

.CreateOrUpdateEventForm {
    min-width: 50vw;
    .canBeViewdBy {
        max-width: 300px;
    }
    .tags {
        margin-top: 1em;
        display: flex;
        flex-flow: row wrap;
        gap: 2em;
        overflow-y: visible;
        overflow-x: visible;
        list-style-type: none;
        li {
            display: flex;
            align-items: center;
            z-index: 1;
            input[type="checkbox"] {
                display: inline-block;
                vertical-align: top;
                margin-right: 4px;
            }
        }
        li:hover {
            z-index: 2;
        }
    }
}