@use '@/styles/ohma';

.CreateOrUpdateEventForm {
    min-width: 50vw;
    padding: 2 * ohma.$gap;
    .canBeViewdBy {
        max-width: 300px;
    }
    .tags {
        h2 {
            flex: 1 1 100%;
        }
        margin-top: 1em;
        display: flex;
        flex-flow: row wrap;
        gap: 0 2em;
        overflow-y: visible;
        overflow-x: visible;
        list-style-type: none;
        li {
            display: flex;
            align-items: center;
            z-index: 1;
            input[type="checkbox"] {
                vertical-align: top;
                margin-right: 4px;
            }
        }
        li:hover {
            z-index: 2;
        }
    }
}