@use "@/styles/ohma";

.wrapper {
    padding: 1em ohma.$minimalPagePadding;
    h1 {
        font-size: ohma.$fonts-xxl;
    }
}
.createEvent {
    min-width: 50vw;
    display: grid;
    place-content: center;
}