@use '@/styles/ohma';

.sideBar {
    @include ohma.round;
    padding: 1em;
    border-radius: 1em;
    margin: 1em 1.5em;
    @include ohma.layer;
    .metInfo {
        display: flex;
        flex-direction: column;
        gap: 1em;
        > li {
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-template-rows: auto auto;
            svg {
                width: 20px;
                height: 20px;
                grid-row: 1 / 3;
                grid-column: 1 / 2;
                margin: auto;
                margin-right: 1em;
            }
            p:first-child {
                font-weight: ohma.$fonts-weight-l;
            }
        }
    }
    .company {
        margin-top: 2em;
        > h2 {
            font-size: ohma.$fonts-xl;
            margin-bottom: 1em;
        }
    }
}