@use '@/styles/ohma';

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    min-height: 0;
}

.coverImage {
    border-radius: ohma.$rounding;
    overflow: hidden;
    margin-bottom: ohma.$gap;
}

.articleZone {
    background-color: ohma.$colors-surface-base;
    border-radius: ohma.$rounding;
}

.addSectionZone {
    margin: ohma.$gap calc(2 * #{ohma.$gap}) 0;
}

.sideBar {
    @include ohma.round;
    padding: ohma.$gap;
    border-radius: ohma.$rounding;
    margin-left: ohma.$gap;
    background-color: ohma.$colors-surface-base;
    .metInfo {
        display: flex;
        flex-direction: column;
        gap: 1em;
        > li {
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-template-rows: auto auto;
            svg {
                width: 20px;
                height: 20px;
                grid-row: 1 / 3;
                grid-column: 1 / 2;
                margin: auto;
                margin-right: 1em;
            }
            p:first-child {
                font-weight: ohma.$fonts-weight-l;
            }
        }
    }
    .company {
        margin-top: 2em;
        > h2 {
            font-size: ohma.$fonts-xl;
            margin-bottom: 1em;
        }
    }
}