.permissionsWrapper {
    display: flex;
    flex-direction: row;
}

.permissionsDiv {
    width: 66%;
}

.permissionsTable {
    th {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }
}