@use "@/styles/ohma";

.ImageCard {
    min-width: 200px; 
    max-width: 300px;
    @include ohma.card;
    position: relative;
    overflow: hidden;
    color: inherit;
    text-decoration: none;
    display: block;
    > .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        > * {
            width: 100% !important;
            height: 100%;
            object-fit: cover;
            img {
                width: 100% !important;
                height: 100%;
                object-fit: cover;
            }
        }
        
    }
}