@use "@/styles/ohma";

$padding: 1.5em;
$imageHeight: 170px;
$contentHeight: 230px;
$height: $imageHeight + $contentHeight;

$background: lighten(ohma.$colors-secondary, 15%);

$textBoxTransparency: 60%;
$textColor: ohma.$colors-gray-900;
$textUnderlineColor: ohma.$colors-secondary;
$textBoxBackgroundColor: ohma.$colors-white;

.ImageCard {
    min-width: 200px; 
    max-width: 300px;
    border-radius: ohma.$cardRounding;
    padding: $padding;
    position: relative;
    color: inherit;
    text-decoration: none;
    display: block;
    height: $height;
    background-color: $background;
    isolation: isolate;
    overflow: hidden;
    &:hover {
        > .image {
            scale: 1.1;
        }
        > .content {
            background-color: rgba($textBoxBackgroundColor, 90%);
        }
    }
    > .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $imageHeight;
        z-index: 1;
        transition: scale 0.3s;
        > * {
            width: 100% !important;
            height: 100%;
            object-fit: cover;
            img {
                width: 100% !important;
                height: 100%;
                object-fit: cover;
            }
        } 
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(ellipse at center top, transparent 40%, $background 70%, $background 100%);
            scale: 1.5 1;
            z-index: 0;
        }
    }
    > .content {
        z-index: 2;
        position: absolute;
        border-radius: calc(ohma.$cardRounding - $padding);
        background-color: rgba($textBoxBackgroundColor, $textBoxTransparency);
        width: calc(100% - #{$padding} * 2);
        padding: $padding;
        top: calc($imageHeight - $padding);
        height: $contentHeight;
        box-shadow: ohma.$colors-secondary 0 0 40px;
        color: $textColor;
        transition: 0.3s;
        overflow: hidden;
        > h2 {
            opacity: 100%;
            text-decoration: underline;
            text-underline-offset: 0.1em;
            text-decoration-thickness: 2px;
            text-decoration-color: $textUnderlineColor;
            margin-bottom: ohma.$gap;
        }
    }

    box-shadow: ohma.$colors-gray-800 0 0 10px;
}