@use "@/styles/ohma";

.frozenStatus {
    color: red;

    .frozenWarningHidden {
        visibility: hidden;
    }
}

.ledgerAccountOverviewButtons {
    margin-top: 3*ohma.$gap;
    display: flex;
    flex-direction: row;

    .rightAligned {
        margin-left: auto;
    }
}
