@use '@/styles/ohma';

.PopUp {
    backdrop-filter: blur(5px);
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    > .main {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 25px;
        @include ohma.card;
        z-index: 9;
        max-height: 95svh;
        background-color: ohma.$colors-secondary;
        > .overflow {
            overflow-y: auto;
            margin: 0;
            padding: 0;
            max-height: calc(95svh - ohma.$cardPadding * 2);
        }
    }
}

.closeBtn {
    background-color: ohma.$colors-red;
    @include ohma.roundBtn(ohma.$colors-red);
}

.openBtn {
    &:hover {
        cursor: pointer;
    }
    > svg {
        width: 100%;
        height: 100%;
    }
}

@include ohma.screenLg {
    .PopUp {
        backdrop-filter: blur(5px);
        width: 100vw;
        height: 100vh;
        > .main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .closeBtn {
            position: absolute;
            top: -10px;
            left: -10px;
            width: 40px;
            height: 40px;
        }
    }
}

@include ohma.screenMobile {
    .PopUp {
        position: fixed;
        bottom: 0;
        top: 0;
        > .main {
            width: 100svw;
            translate: 0 calc(100svh - 100%);
        }
        .closeBtn {
            position: absolute;
            top: .3em;
            right: .3em;
            width: 3em;
            height: 3em;
        }
    }
}
