@use "@/styles/ohma";

.wrapper {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
.moreNews {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 0 ohma.$minimalPagePadding;
    min-height: 80px;  
    > div {
        display: flex;
    }
}