@use "@/styles/ohma";

.wrapper {
    display: flex;
    flex-direction: column;
    gap: ohma.$gap;
    height: 100%;
}

.article {
    background-color: ohma.$colors-surface-base;
    border-radius: ohma.$rounding;
    overflow-y: auto;
    padding: ohma.$minimalPagePadding;
    flex-grow: 1;
    margin-top: ohma.$gap;
}
.moreNews {
    background-color: ohma.$colors-surface-base;
    border-radius: ohma.$rounding;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: ohma.$minimalPagePadding;
    min-height: 80px;
    > div {
        display: flex;
    }
}