@use '@/styles/ohma';

.Loader {
    filter: invert(1);
    animation: rotate 1.3s cubic-bezier(0.99, 0.33, 0.82, 0.97) infinite;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(0.5turn);
    }
}