@use '@/styles/ohma';

.Nav {
    position: fixed;
    top: calc(100px + 10vh);
    left: calc(10px);
    // transform: translateX(calc(100% + 1em));
    display: flex;
    flex-direction: column;
    gap: 1em;
    > a {
        @include ohma.borderBtn;
        display: flex;
        flex-direction: row;
        &.selected {
            background-color: ohma.$colors-primary;
            &:hover svg {
                color: initial;
            }
        }
    }
}
