@use '@/styles/ohma';

.settingForm {
    padding: ohma.$cardPadding;
    border-radius: ohma.$cardRounding;
    @include ohma.boxShadow('');
    @include ohma.layer;
    background: ohma.$colors-surface-hover;
    color: ohma.$colors-text;
}

.selectBox > select {
    background-color: ohma.$colors-surface-raised;
    color: ohma.$colors-ink-hover;
}