@use '@/styles/ohma';

.settingsCard {
    background: ohma.$colors-surface-raised;
    padding: ohma.$cardPadding;
    border-radius: ohma.$rounding;
    margin: ohma.$gap 0;
    color: ohma.$colors-text;
}