@use '@/styles/ohma';

.loadingControl {
    width: 100%;
    padding: ohma.$gap 0;
    position: relative;
    display: block;
    height: 40px;
    margin-top: 1em;
    button {
        width: auto;
        margin: 0;
    }
    > * {
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
    }
}