@use '@/styles/ohma';

.flairList {
    @include ohma.table;
    a {
        svg {
            margin-right: 0.5rem;
        }
    }
}

.changeImageBtn {
    @include ohma.borderBtn(ohma.$colors-primary);
    display: block;
    margin-top: 0.5em;
    padding: 0.25em 0.5em;
    font-size: ohma.$fonts-s;
    white-space: nowrap;
}