@use '@/styles/ohma';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.container {
        display: flex;
        flex-direction: row;
    }
}



.flairContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    :hover {
        * {
            cursor: pointer;
            background-color: darken(ohma.$colors-white, 20%);
        }


    }
    

    .imageContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: black;
        text-decoration: none;
        margin: 1%;
    }

}