@use '@/styles/ohma';

.button {
    @include ohma.btn(ohma.$colors-primary);
}

.table {
    @include ohma.table();
}

.deactivatedProduct {
    color: ohma.$colors-gray-500;
}

.editButtonWrapper {
    text-align: center;

    > button {
        width: 30px;
        height: 30px;
        border: none;
        background: transparent;
    }
}
