@use '@/styles/ohma';

.container {
    border: 1px solid ohma.$colors-text;
    border-radius: ohma.$rounding;
    padding: 12px;
    color: ohma.$colors-text-muted;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include ohma.boxShadow('');
}
.container:hover {
    color: ohma.$colors-text;
    @include ohma.boxShadow('hover');
}
.linkContainer > a {
    text-decoration: none;
}
.linkContainer {
    margin-bottom: 10px;
}
.linkContainer:last-child {
    margin-bottom: 0px;
}
.selected {
    color: ohma.$colors-primary;
}

@media (max-width: ohma.$mobileBreakpoint) {
    .container {
        padding: 0px;
        height: calc(ohma.$nav-height - 2 * 16px);
        justify-content: center;
        padding: 0;
        border: 0;
    }
    .text {
        display: none;
    }
    .linkContainer {
        flex-grow: 1;
    }
    .icon {
        width: 25px;
        height: 25px;
        color: white;
    }
    .selected * {
        color: ohma.$colors-primary;
    }
}
