@use '@/styles/ohma';

.navBarContainer {
    display: flex;
    position: fixed;
    padding: 0px calc(16px - ohma.$gap);
    border-radius: ohma.$rounding;
    background-color: ohma.$colors-black;
    width: calc(100vw - 2 * ohma.$gap);
    max-width: 900px;
    left: max(ohma.$gap, calc((100dvw - 900px) / 2));
    top: calc(100dvh - 2 * ohma.$nav-height - ohma.$gap);
    flex-direction: row;
    z-index: 3;
    height: ohma.$nav-height;
}

@media (min-width: ohma.$mobileBreakpoint) {
    .navBarContainer {
        top: calc(100dvh - ohma.$nav-height - ohma.$gap);
    }
}
