$blue:    #007bff;
$slate:   #556a82;
$indigo:  #6610f2;
$purple:  #9C27B0;
$pink:    #e83e8c;
$red:     #E53935;
$orange:  #fd7e14;
$yellow:  #ffd600;
$green:   #28a745;
$teal:    #009688;
$cyan:    #00BCD4;

$white:  #fff;
$gray-100: #F7F8FA;
$gray-150: #F3F4F6;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-650: #67696d;
$gray-700: #495057;
$gray-750: #323A3E;
$gray-800: #212529;
$gray-850: #1F2326;
$gray-900: #1c1c1c;
$black:  #000;

$primary: $yellow;
$secondary: $slate;