@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700|Playfair+Display:700,700i,900i');
@import "../bootstrap/mixins/breakpoints";

//General:

html {
  height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    @include media-breakpoint-up(md) {
        padding-top: $navbar-padding-y * 4;
    }

    .content {
        height: 100%;
        position: absolute;

        main {
            min-height: 100%;

            .fill-viewport {
                min-height: 100%;
            }
        }
    }
}

.default-margin {
  margin: $spacer * 2.5 $spacer * 5;

  @include media-breakpoint-down(lg) {
    margin: $spacer * 2 $spacer * 1.5;
  }

  @include media-breakpoint-down(sm) {
      margin: 0;
  }
}

.default-margin-small {
    margin: $spacer * 2 $spacer * 1.5 $spacer * 1 $spacer * 1.5;

    @include media-breakpoint-down(sm) {
        margin: 0;
    }
}

.default-margin-grid {
    margin: $spacer * 2.5 $spacer * 5;

    @include media-breakpoint-down(lg) {
        margin: $spacer * 2 $spacer * 1.5;
    }

    @include media-breakpoint-down(xs) {
        margin: 0 $spacer * 0.25 0 $spacer * 0.25;
    }
}

.margin-ombul {
   @extend .default-margin;

    @include media-breakpoint-down(sm) {
        margin: $spacer * 2 $spacer * 1.5 $spacer * 1 $spacer * 1.5;
    }
}

.mt-n1 {
  margin-top: -.5rem;
}

.b-0 {
  border: none !important;
}

@for $i from 0 through 5 {
    .s-#{$i} {
        @include shadow($i);
    }
}

.s-none {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.b-l {
  border-left: solid 1px gray(400);

  @include media-breakpoint-down(sm) {
    border: none;
  }
}

.overflow-x-hidden-sm {
    @include media-breakpoint-down(sm) {
        overflow-x: hidden;
    }
}

//Icons: (should be replaced by fa classes eventually)
.icon-xsmall {
    font-size: 1rem;
    display: inline;
}

.icon-small {
    font-size: 1.5rem !important;
    display: inline;
}

.icon-medium {
    font-size: 3rem !important;
    display: inline;
}

.icon-large {
    font-size: 5rem;
    display: inline;
}

.icon-xlarge {
    font-size: 8rem;
    display: inline;
}

.fill-viewport-md {
    @include media-breakpoint-down(sm) {
        min-height: 100vh;
    }
}

.px-md-down-1 {
    @include media-breakpoint-down(sm) {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }
}

.mx-md-down-0 {
    @include media-breakpoint-down(sm) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.modal-open {
    overflow-y: inherit !important;
}

.article-body {
    img{
        max-width: 100%;
    }
}

.inline-link-underline {
        text-decoration: underline;
}