
.footer {
    text-align: center;
    position: relative;
    width: 100%;
    background-color: gray(800);
    color: color(white);
    height: 350px;
    padding: 75px 100px;
    line-height: 1.7;
    z-index: 1001;

    @include media-breakpoint-down(lg) {
        padding: 75px 50px;
    }

    @include media-breakpoint-down(md) {
        height: 500px;
        padding: 50px 25px;
    }

    @include media-breakpoint-down(sm) {
        height: 950px;
    }

    hr {
        border-color: gray(700);
        margin: 1rem 20%;

        @include media-breakpoint-down(md) {
            margin: 1rem 10% !important;
        }
    }

    a {
        color: gray(300);

        &:hover {
            color: gray(300);
        }
    }

    h2 {
        font-weight: 700;
    }

    p {
        font-size: 14px;
        color: gray(300);
    }

    .small {
        color: gray(400);
        line-height: 1.7;
    }

    #footer-hr-vertical {
        border-right: solid 1px gray(700);

        @include media-breakpoint-down(sm) {
            border-right: none !important;
        }
    }
}

#footer-omega-logo {
    width: 100%;
}

#img-main-sponsor {
    height: 150px;
}

.footer-icons{
    a {
        color: theme-color(primary);

        &:hover {
            color: darken(theme-color(primary), 3%);
        }

        i {
            margin: 0.5rem;
        }
    }

}

