.card {
    @include shadow(1);

    .card-header {
        color: color(white);
        padding: 0.5rem 1.5rem;
        z-index: 2;
        height: 3rem;
        background-color: gray(90%);

        a {
            color: color(white);
        }
    }

    hr {
        margin: 1rem 3rem;
    }

    .card-group {

        h1 {
            color: gray(90%);
        }
    }

    .card-body {
        text-align: center;

        .card-text {
            font-size: get-font-size(sm);
        }
    }

    .card-subtitle {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-base;
        font-size: get-font-size(lg);
        line-height: 140%;
    }
}

.card-img {
    background-size: cover;
    background-position: center;
    position: relative;
    min-width: 100%;
}

.card-img-title {
    background: rgba(gray(90%), 0.6);
    position: absolute;
    bottom: 0;
    padding: 1rem 5rem;
    width: 100%;
    text-align: left;

    @include media-breakpoint-down(lg) {
        padding: 1rem 1.5rem;
    }

    p {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-light;
        font-size: get-font-size(md);
        color: gray(30%);
        margin: 0;
    }

    h1 {
        font-size: 38px;
        color: color(white);
        font-weight: $font-weight-light !important;

        .badge {
            font-size: get-font-size(lg);
            position: absolute;
            margin-top: 8px;
            padding: 5rem 1rem;

            @include media-breakpoint-down(sm) {
                margin-top: 2px;
                font-size: get-font-size(md);
            }
        }

        @include media-breakpoint-down(sm) {
            font-size: get-font-size(xl);
        }
    }
}

//Event cards:

.card-event {
    .card-img {
        height: 12rem;
    }

    hr {
        margin: 1rem 0;
    }

    .card-title {
        color: gray(75%) !important;
        font-weight: $font-weight-normal !important;
        font-size: get-font-size(xl);
        text-align: center;
        @include ellipsis(get-font-size(xl), 1.4, 2);
        height: inherit;
    }

    p {
        color: gray(75%);
        font-weight: $font-weight-light;
    }

    .card-body {
        padding: 1.5rem 2.5rem 2.5rem 2.5rem;
        text-align: center;
        margin-bottom: 4rem;

        .card-text {
            @include ellipsis(get-font-size(md), 1.4, 4);
        }
    }

    .card-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;

        .row {
            background-color: get-theme-color(primary);
            padding: 0.8rem 0;

            .col {
                border-left: solid 1px darken(get-theme-color(primary), 10%);
                color: gray(75%);
                font-size: get-font-size(md);
            }
        }
    }
}

.card-event-date {
    background-color: get-theme-color(primary);
    @include shadow(1);
    width: 6rem;
    height: 6rem;
    display: flex;
    text-transform: uppercase;

    h2 {
        font-size: 45px;
        font-weight: $font-weight-bold !important;
        color: gray(80%);
    }

    p {
        margin-top: -15px;
        margin-bottom: 0;
        font-size: 25px;
        font-weight: $font-weight-light;
        color: gray(75%);
    }
}

.card-event-full {
    background-color: gray(100%) !important;

    hr {
        margin: 1rem;
    }

    .card-img {
        height: 18rem;
        @include shadow(1);

        .event-countdown {
            background: rgba(gray(90%), 0.6);
            position: absolute;
            bottom: 0;
            padding: 1rem 8rem;
            width: 100%;
            text-align: left;

            @include media-breakpoint-down(lg) {
                padding: 1rem $spacer * 6;
            }

            @include media-breakpoint-down(md) {
                padding: 1rem $spacer * 3;
            }

            p {
                font-family: $font-family-sans-serif;
                font-weight: 300;
                font-size: $font-size-sm;
                color: gray(30%);
                margin: 0;
            }

            h1 {
                font-size: 38px;
                color: color(white);

                .badge {
                    font-size: 20px;
                    position: absolute;
                    margin-top: 8px;
                    padding: 5rem 1rem;

                    @include media-breakpoint-down(sm) {
                        margin-top: 2px;
                        font-size: 16px;
                    }
                }

                @include media-breakpoint-down(sm) {
                    font-size: 25px;
                }
            }
        }
    }

    .card-body {
        padding: 2rem 5rem;
        text-align: left;

        @include media-breakpoint-down(lg) {
            padding: 2rem 1.5rem;
        }

        @include media-breakpoint-down(sm) {
            padding: 0;
        }

        .card-text {
            font-size: $font-size-sm;

            a {
                @extend .font-weight-normal !optional;
                color: color(black);
            }
        }

        .badge {
            border-radius: 10px;
        }
    }

    #event-info-list {
        color: gray(70%);

        li {
            padding: 1.2rem 1.5rem;
            border-top: solid 1px gray(20%);
        }

        @include media-breakpoint-down(md) {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
}

.front-event{
    width: 100%;
    background-color: color(white);
    @include shadow(1);

    .front-event-title {
        @include ellipsis(20px, 1.4, 1);
        color: gray(90%);

        h1 {
            font-weight: $font-weight-light !important;
        }
    }

    .front-event-subtitle {
        color: gray(70%);
    }
}

.dummy{
    margin-top: 100%;
}

.front-event-date{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: get-theme-color(primary);
    text-transform: uppercase;

    h2 {
        font-size: 40px;
        font-weight: 700 !important;
        color: gray(80%);
    }

    p {
        font-size: 22px;
        font-weight: 300;
        color: gray(75%);
    }
}

.front-event-simple {
    @extend .front-event;
    .front-event-simple-title {
        @include ellipsis(20px, 1.4, 1);
    }
}

.front-event-simple-date {
    background-color: get-theme-color(secondary);
    font-size: 22px;
    color: color(white);
    font-weight: 300;
    text-transform: uppercase;

    .front-event-simple-date-day {
        font-weight: 700;
    }
}


//Article cards:

.card-article {
    .card-img {
        height: 14rem;
    }

    hr {
        margin: 1rem;
    }

    p {
        color: gray(70%);
        font-weight: 400;
    }

    .card-body {
        margin-bottom: 4rem;

        .card-text {
            color: gray(65%) !important;
            //font-weight: $font-weight-light !important;
            @include ellipsis(get-font-size(sm), 1.4, 3);
        }
    }

    .card-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: color(white);

        small {
            font-weight: $font-weight-light !important;
        }
    }

    .card-title {
        color: gray(90%) !important;
        font-weight: $font-weight-normal !important;
        text-align: center;
        @include ellipsis(get-font-size(lg), 1.4, 2);
        height: inherit;
    }
}

.front-articles{
    @include media-breakpoint-down(lg) {
        padding: $spacer * 2 $spacer * 3;
    }

    @include media-breakpoint-down(md) {
        padding: $spacer * 2 $spacer * 1.5;
    }

    @include media-breakpoint-down(sm) {
        padding: 0;
    }

    .card-article{
        .card-img{
            height: 10rem;
        }
    }
}

.card-full-article {
    min-height: 100vh;

    .card-title {
        font-size: 35px;
        color: gray(75%) !important;
        font-weight: $font-weight-normal !important;
    }

    .card-img {
        height: 16rem;
        @include shadow(1);
    }

    .card-body {
        margin: 1.5rem 18rem 8rem 18rem;

        @include media-breakpoint-down(lg) {
            margin: 1.5rem 10rem 8rem 10rem;
        }

        @include media-breakpoint-down(md) {
            margin: 1.5rem 0 4rem 0;
        }

        padding: 0 2rem;
        text-align: left;
        line-height: 138%;
        border-left: solid 1px gray(30%);

        .badge {
            border-radius: 10px;
        }
    }
}

.card-info {
    @extend .card-full-article;
    box-shadow: none;

    .card-body {
        margin: 1.5rem 5rem 5rem 5rem;
        border: none;

        @include media-breakpoint-down(md) {
            margin: 1.5rem 0 4rem 0;
        }

        .card-title {
            word-break: normal;
            overflow-wrap: break-word;
            display: inline-block;

            @include media-breakpoint-down(md) {
               font-size: 27px !important;
            }
        }
    }
}

.card-photo {
    height: 15rem;
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

.card-profile-tool {
    color: gray(80%);
    background-color: get-theme-color(primary);

    &:hover {
        background-color: darken(get-theme-color(primary), 2%);
    }

}

.card-login {
    @include media-breakpoint-down(md) {
        min-height: 100%;
    }
}

.card-article-old{
    @extend .card-article;

    .card-img{
        height: 8rem;
    }
}

.card-form {
    .card-title {
        font-weight: 600;
        font-size: get-font-size(lg) !important;
    }

    label {
        color: gray(70%);
    }
}

.card-application-general {
    border: solid 1px gray(20%) !important;
    box-shadow: none !important;

    .card-title {
        font-size: get-font-size(lg);
    }

    .card-text {
        color: gray(70%);
    }
}

.card-application {
   @extend .card-application-general;
    border-top: none !important;

    .card-text {
        @include ellipsis(get-font-size(sm), 1.4, 4);
    }
}

#application-accordion {
    border-top: solid 1px gray(20%) !important;
}

.card-ombul {
    @extend .s-none;

    small {
        font-weight: $font-weight-light;
        color: gray(80%);
    }

    .card-img{
        width: 100%;
        padding-top: 145% !important;
        position: relative;
        @include shadow(1);

        .badge {
            position: absolute;
            top: 5px;
            left: 5px;
        }
    }

    background-color: gray(10%) !important;

    .card-body {
        .card-text {
            @include ellipsis(14px, 1.5, 4);
        }
    }

    .card-footer {
        background-color: gray(20%);
    }

    h2 {
        font-weight: $font-weight-base;
    }
}

.card-commodity {
    .card-img {
        height: 17rem;
    }

    @include media-breakpoint-down(md) {
        .card-img {
            height: 10rem;
        }
    }

    .card-footer {
        padding-top: 0;
        background-color: color(white);
    }
}
