//----------------------------------------------------------------------------------------------------------------------
//Buttons:

.btn, .navbar-toggler {
    &:focus {
        outline: none;
    }
}

.btn-primary, .btn-secondary, .btn-danger, .btn-light, .btn-info {
    font-size: 15px !important;
    font-weight: 300 !important;
    padding: 0.5rem 1.5rem !important;
}

.btn-outline-secondary, .btn-outline-danger, .btn-outline-primary, .btn-outline-light, .btn-outline-info {
    font-size: 15px !important;
    font-weight: 300 !important;
    padding: 0.5rem 1.5rem !important;
}

.btn-circle {
    @extend .my-auto;
    @extend .mx-auto;
    @extend .d-block;
    border-radius: 25px !important;
    height: 45px;
    width: 45px;
    padding: 0 !important;
}

.btn-circle-sm {
    @extend .btn-circle;
    height: 35px;
    width: 35px;
}

.btn-infonav-collapse {
    position: fixed;
    top: 20px;
    right: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    z-index: 1100;
}

.btn-xl {
    font-size: 20px !important;
    padding: .75rem 2.5rem !important;
}

.btn-sm {
    font-size: font-size(sm) !important;
    padding: 0.3rem 1rem !important;
}


//File upload button styling (kinda hacky):
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-link-secondary {
    color: theme-color(secondary) !important;

    &:hover {
        color: darken(theme-color(secondary), 15%) !important;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Forms:

input {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: solid 1px gray(50%) !important;

    &:focus {
        border-bottom: solid 2px gray(80%) !important;
        margin-bottom: -1px;
    }
}

select {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: solid 1px gray(50%) !important;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;

    &:focus {
        border-bottom: solid 2px gray(80%) !important;
    }
}

.custom-file {
    font-weight: 300;
}

// Validation:

.invalid {
    border-bottom: solid 2px theme-color(danger) !important;

    &:focus {
        border-bottom: solid 3px theme-color(danger) !important;
        margin-bottom: -1px;
    }
}

.label-invalid {
    color: theme-color(danger) !important;
}

.response {
    color: theme-color(danger);
    text-align: left;
    @extend .mt-2;
}


// Material design floating label styling (requires "required" to work )

.form-group-floating {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    pointer-events: none;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.file-drop-container {
    border: dashed 4px gray(40%);
    height: 400px;
    background-color: gray(15%);

    .no-pointer-event {
        pointer-events: none;

        .btn {
            pointer-events: all !important;
        }
    }
}


//----------------------------------------------------------------------------------------------------------------------
// Table:

table {
    text-align: left;
    vertical-align: middle;

    th {
        font-weight: $font-weight-base;
        border-bottom: solid 1px gray(50%) !important;
        border-top: none !important;
    }

    td {
        font-weight: $font-weight-light !important;
        color: gray(60%);
        border-top: solid 1px gray(30%) !important;
        font-size: font-size(sm);
    }
}

.table-membership {
    td {
        font-size: font-size(md) !important;
    }
}

.table-users {
     border: solid 1px gray(20%);

    thead {
        background-color: gray(15%);
    }
}

.table-filter {
    background-color: gray(15%);
    border: solid 1px gray(20%);
    label, input {
        font-size: font-size(sm) !important;
    }
}

.table-sm {
    font-size: font-size(xs);
}

.table-row-selected {
    background-color: gray(20%);
}

//----------------------------------------------------------------------------------------------------------------------
// Overrides of other Bootstrap classes:

.badge {
    font-family: $font-family-sans-serif;
    font-weight: 300 !important;
    font-size: 17px;
    font-style: italic;
    border-radius: 7px;
    padding: 5px 14px !important;
}

.badge-sm {
    border-radius: 10px;
}

.list-group-item, table {
    .btn-outline-danger, .btn-outline-secondary {
        &:hover {
            color: color(white) !important;
        }
    }
    .btn-danger, .btn-secondary {
        color: color(white) !important;
    }
}

.page-item {
    width: 3rem;
    text-align: center;
}

//----------------------------------------------------------------------------------------------------------------------
//Other custom classes:

// Profile ----------------------------------------

.profile-list {
    .list-group-item {
        padding: 0;
        border: none !important;
    }
}

// Quote ----------------------------------------
.quote-container {
    @include shadow(2);
    background-color: color(white);
    display: block;
    text-align: left;
    padding: 2rem 3rem;
    color: gray(70%);
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    border-radius: 25px;

    p {
        margin: 0;
    }
}

.triangle {
    transform: scaleX(2);
    color: color(white);
    text-shadow:
        0 1px 1px rgba(255,255,255,0.3),
        0 3px 3px rgba(0,0,0,0.4);
    font-size: 25px;
    position: absolute;
    margin-top: -8px;
    left: 40px;
}

// Sidebar ----------------------------------------
.navinfo {
    height: 100%;
    display: block;
    overflow: hidden;

    hr {
        border-color: darken(theme-color(primary), 10%);
    }
}

.info-nav-container {
    position: fixed;
    width: 0;
    min-height: 100vh;
    z-index: 1000;
    @include shadow(4);

    -webkit-transition: width 1ms ease-in-out;
    -moz-transition: width 1ms ease-in-out;
    -o-transition: width 1ms ease-in-out;
    -ms-transition: width 1ms ease-in-out;
    transition: width 1ms ease-in-out;
}


// Frontpage ----------------------------------------

#front-logo{
    max-height: 200px;
}

.front-header-login{
    height: 400px;

    @include media-breakpoint-down(xs) {
        height:100vh;
    }

    i {
        color: color(white);
    }

    /* Create the parallax scrolling effect */
    background-attachment: fixed;

    @include media-breakpoint-down(sm) {
        background-attachment: scroll;  // background attachment fixed does not work on iPhone
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.front-header{
    @extend .front-header-login;

    height: 100vh;

    #front-logo{
        max-height: 275px;

    }

    @media all and (orientation: landscape) {
        @include media-breakpoint-down(sm) {
            #front-logo{
                max-height: 200px;
                padding-top: 30px;
            }
        }
    }
}

.front-header-offline{
    @extend .front-header-login;

    p, h1, .disconnected-icon-container {
        color: color(white);
    }
}

.front-image{
    @extend .front-header-login;

    height: 70vh;
}

.front-small-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    @include media-breakpoint-down(sm) {
        min-height: 400px;
    }
}

.front-about{
    padding: 75px 100px;

    @include media-breakpoint-down(md) {
        padding: 50px;
    }
}

.front-about-inverse{
    @extend .front-about;
    color: color(white);
}

#map{
    height: 400px;
    width: 100%;
    background-color: theme-color(primary);
}

.header-icons {
    a {
        color: color(white);

        &:hover {
            color: darken($white, 3%);
        }

        i {
            margin: 0.5rem;
        }
    }
}

.front-title {
    p {
        color: gray(50%);
    }

    a:hover {
        p {
            color: gray(70%);
        }
    }
}

.front-title-colored {
    background-color: darken(theme-color(primary), 4%);
}

.front-icons {
    padding: 100px 50px;

    @include media-breakpoint-down(md) {
        padding: 50px 25px;
    }
}

.front-contact {
    #front-contact-inner {
        @include media-breakpoint-up(md) {
            border-left: solid 1px gray(80%);
        }

        p {
            margin-bottom: 0;
        }
    }
}

// Modal -----------------------------

.modal-xl {
    max-width: 1000px !important;
}


// Calendar --------------------------

.calendar-container {
    padding: 15px;
    background-color: color(white);

    h1 {
        text-align: center;
        padding-top: 10px;
        color: gray(80%);
    }

    hr {
        margin-right: 25%;
        margin-left: 25%;
    }

    @include media-breakpoint-down(sm) {
        padding: 0;

        hr {
            margin-right: 15%;
            margin-left: 15%;
        }
    }

    @include media-breakpoint-down(xs) {
        margin-right: 0;
        margin-left: 0;
    }

    .calendar-head {
        h2 {
            font-size: 20px;
            font-weight: 700 !important;
            color: gray(60%);
            text-transform: uppercase;
            text-align: center;
        }
    }

    .calendar-row {

        .week-number {
            font-size: 20px;
            font-weight: 700 !important;
            color: gray(60%);
        }

        .col {
            .date-back {
                padding-bottom: 100%;
                width: 100%;
                border: solid 1px gray(15%);
            }

            .date-front {
                position: absolute;
                top: 0;
                padding-bottom: 5px;
                padding-top: 5px;
                width: 100%;
                color: gray(85%);

                .calendar-event {
                    width: 100%;
                    background-color: theme-color(primary);
                    //@include shadow(0);
                    padding: 5px 15px;

                    h3 {
                        @include ellipsis(12px, 1.4, 1);
                    }
                }

                .calendar-simple-event {
                    @extend .calendar-event;
                    background-color: theme-color(secondary);
                    color: color(white);

                    button {
                        margin: 0;
                        padding: 0;
                        background-color: inherit;
                        border: none;
                        color: color(white);
                    }
                }

                h2 {
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 25px;
                    font-weight: 700 !important;
                    color: gray(70%);

                    @include media-breakpoint-down(md) {
                        font-size: 20px;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                .date-front {
                    h2 {
                        font-size: 25px !important;
                    }
                }
            }

            @include media-breakpoint-down(xs) {
                .date-front {
                    //padding-top: 25% !important;

                    h2 {
                        font-size: 20px !important;
                        //text-align: center;
                    }
                }
                margin: 0 !important;
            }
        }
    }
}

// 404 ----------------------------------

.error {
    min-height: 100vh;
    margin-bottom: -8px;
    font-weight: $font-weight-light;

    .error-title {
        font-size: 25rem;
        font-weight: $font-weight-bold !important;
        line-height: 1;

        @include media-breakpoint-down(sm) {
            font-size: 10rem;
        }
    }

    .error-image {
        bottom: 0;
        left: 10%;
        height: 400px;
        width: auto;
        position: absolute;
    }
}

// Committees ------------------------

.container-committee {
    @include media-breakpoint-down(sm) {
        font-size: 13px;
    }

    .img-circle {
        @include shadow(2);
        border: none;
    }
}

// Applications ----------------------

.application-order {
    font-size: 60px;
    font-family: $font-family-sans-serif;
    font-weight: 700;
}

.comsel, .appselect {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.comsel.down, .appselect.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

@keyframes ani {
    0% {
        left: -75px;
    }
    90% {
        left: 10px;
    }
    100% {
        left: -75px;
    }
}

// Gnome (: ----------------------------

.gnome {
    transform: rotate(90deg);
    width: 50px;
    height: auto;
    position: fixed;
    left: -75px;
    top: 300px;
    z-index: 2000;
}

.gnome-animation {
    x-transition: all 5s ease-out;
    animation: ani 5s 1;
}

#gnome-trigger {
    width: 20px;
    height: 20px;
}

// Misc ------------------------------

.img-icon {
    height: 1.2rem;
}

.flair {
    height: 1em;
}

.flair-text {
    border-radius: 0.5em;
    background: #CDCDCD;
    height: 1em;
    display: inline;
    font-size: 0.8em;
    padding-right: 0.4em;
    padding-left: 0.4em;
}

.index-header {
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    min-width: 50%;
    height: 50%;
    width: 100%;
    @include shadow(1);
}


.program-edit-container {
    border: solid 1px gray(40%);
}

.expand{
    position:relative;
    text-decoration:none;
    display:inline-block;
}
.expand:after {
    display:block;
    content: '';
    border-bottom: solid 3px #000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
}
.expand:hover:after {
    transform: scaleX(1);
    transform-origin:0 50%;
}


.poll-container {
    h2 {
        font-size: font-size(lg);
    }

    p {
        color: gray(70%);
    }

    .form-check {
        color: gray(60%);
        font-weight: $font-weight-light;
    }

    .progress {
        height: 35px;
        border: solid 1px gray(20%);

        .progress-bar {
            transition-duration: 0.5s;
        }

        p {
            color: gray(50%);
        }
    }
}

.container-card {
    border: solid 1px gray(30%);
    border-radius: 15px;
}

.list-group-sm {
    font-size: font-size(sm);
}

.container-transfer {
    background-color: gray(15%);
    border: solid 1px gray(30%);

    input {
        border: none !important;

        &:focus {
            border: none !important;
        }
    }
}

.ombul-title {
    font-weight: $font-weight-light !important;
    font-size: 3rem;

    @include media-breakpoint-down(md) {
        font-size: 2rem;

    }
}

.pagination-left {
    nav {
        ul {
            @extend .justify-content-start;
        }
    }
}

.pagination-right {
    nav {
        ul {
            @extend .justify-content-end;
        }
    }
}

#html-preview {
    border: solid 1px gray(30%);
}

.pwa-link {
    img {
        height: 3.5em;
        margin-right: 0.5em;
        margin-bottom: 1em;
    }
}
