//Colors:
@each $color-name, $color-value in $theme-colors {
    .c-#{$color-name} {
        color: $color-value;
    }
}

@each $color-name, $color-value in $grays {
    .c-gray-#{$color-name} {
        color: $color-value !important;
    }
}

@each $color-name, $color-value in $grays {
    .bg-gray-#{$color-name} {
        background-color: $color-value !important;
    }
}

.c-white {
    color: color(white);
}

.c-gray {
    color: gray(500);
}

