
//----------------------------------------------------------------------------------------------------------------------
//Typography:

//Font variables are in custom_variables.scss

h1 {
    font-family: $font-family-head !important;
    font-weight: $font-weight-normal !important;
    color: gray(90%);
}

h2 {
    font-family: $font-family-sans-serif !important;
    font-weight: $font-weight-base !important;
}

h3 {
    font-family: $font-family-sans-serif !important;
    font-weight: $font-weight-light !important;
}

p {
    font-weight: $font-weight-light;
}

.default-title {
    font-size: $display4-size;
}

.default-title-2 {
    font-size: $display4-size;
    font-family: "Playfair Display", sans-serif !important;
    font-weight: 700 !important;
    font-style: italic !important;
}

.font-size-sm {
    font-size: get-font-size(sm);
}

.font-size-lg {
    font-size: get-font-size(lg);
}






