.img-circle {
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: auto;
    max-width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.img-circle-registration {
    @extend .img-circle;
}

.hover-effect {
    overflow:hidden;
    background-color: gray(900);

    div {
        -webkit-transition:all .14s ease-in-out;
        transition:all .14s ease-in-out;
        -webkit-backface-visibility: hidden;
    }

    &:hover {
        div {
            -ms-transform: scale(1.03);
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
            opacity: 0.80;
            filter: alpha(opacity=80);
        }
    }
}

.img-card {
    background-size: cover;
    background-position: center;
    position: relative;
    min-width: 100%;
    height: 100%;
}

.gallery-img {
    position:absolute;

    div {
        background-size: cover;
        background-position: center;
        position: absolute;
        min-width: 100%;
        height: 100%;
    }

    .gallery-img-text {
        background: rgba(gray(900), .6);
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        padding: 1rem 1rem;
        width: 100%;

        font-size: 22px;
        font-weight: $font-weight-light !important;
        color: color(white);
        text-align: left;
        line-height: 1.4;

        .badge {
            font-size: 14px;
            padding: .3rem .6rem !important;
        }

        @include media-breakpoint-down(sm) {
            font-size: 18px;
        }
    }

    .gallery-img-delete {
        position: absolute;
        margin: .4rem !important;
    }

    //To get square image:
    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

.empty-box {
  height: 20px;
}

.full-image {
    min-height: 100vh;
    position: relative;
    padding-top: 50px;
    &:focus {
        outline: none;
    }


    img {
        max-width: 100%;
        max-height: 80vh;
        display: block;

    }

    #image-arrow-left {
        right: -20px;
    }

    #image-arrow-right {
        left: -20px;
    }

    .image-arrow {
        z-index: 1001;

        @include shadow(2);
        background-color: theme-color(primary);

        height: 70px;
        width: 70px;

        &:hover {
            background-color: darken(theme-color(primary), 2%);
        }

    }
}

.image-container{
  height: 100%;
}

.img-commodity {
    width: 100%;
    min-height: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-preview {
    img {
        max-width: 40%;
    }
}

#ombul-image {
    @include shadow(0);
    max-height: 70vh;
    max-width: 100%;

    @include media-breakpoint-down(md) {
        max-height: 50vh;
    }
}

.img-ombul-old {
    width: 100%;
    padding-bottom: 145%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include shadow(0);
}
