//fonts served statically through /public/fonts
$fonts: (
  Roboto: (300, 500, 700),
  PlayfairDisplay: (300, 500, 700)
);

@each $font, $weights in $fonts {
  @each $weight in $weights {
    @font-face {
      font-family: '#{$font}';
      src: url('/fonts/#{$font}/#{$font}-#{$weight}.woff2') format('woff2'),
           url('/fonts/#{$font}/#{$font}-#{$weight}.woff') format('woff');
      font-weight: $weight;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: '#{$font}';
      src: url('/fonts/#{$font}/#{$font}-#{$weight}-italic.woff2') format('woff2'),
           url('/fonts/#{$font}/#{$font}-#{$weight}-italic.woff') format('woff');
      font-weight: $weight;
      font-style: italic;
      font-display: swap;
    }
  }
}

$primary: 'Roboto', sans-serif;
$secondary: 'PlayfairDisplay', serif;

$s: clamp(12px, 2vw, 14px);
$m: clamp(14px, 2.5vw, 16px);
$l: clamp(16px, 3vw, 18px);
$xl: clamp(22px, 4vw, 26px);
$xxl: clamp(33px, 5.5vw, 36px);

$weight-l: 700;
$weight-m: 500;
$weight-s: 300;

$line-height-m: 1.7em;