@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

$primary: 'Roboto', sans-serif;
$secondary: 'Merriweather', serif;

$s: clamp(12px, 2vw, 14px);
$m: clamp(14px, 2.5vw, 16px);
$l: clamp(16px, 3vw, 18px);
$xl: clamp(22px, 4vw, 26px);
$xxl: clamp(33px, 5.5vw, 36px);

$weight-l: 700;
$weight-m: 500;
$weight-s: 350;

$line-height-m: 1.7em;