@use "_colors";
@use "_variables";
@use "_fonts";

@use "sass:color";

@mixin round {
    border-radius: variables.$rounding;
    padding: variables.$rounding;
}

@mixin boxShadow($state) {
    @if $state=='hover' {
        box-shadow: colors.$boxShadow 0px 3px 6px, colors.$boxShadow 0px 3px 6px;
        transition: box-shadow 0.3s;
    } @else {
        box-shadow: colors.$boxShadow 0px 1px 3px, colors.$boxShadow 0px 1px 2px;
        transition: box-shadow 0.3s;
    }
}

@mixin card {
    border-radius: variables.$cardRounding;
    transition: box-shadow 0.3s;
    @include boxShadow('');
    &:hover {
        @include boxShadow('hover');
    }
}

@mixin layer {
    background: colors.$layer;
    backdrop-filter: blur(30px);
}


@mixin table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    th, td {
        padding: variables.$gap
    }
    th {
        background-color: color-mix(in srgb, colors.$secondary, white 2%); // TODO Perhaps change
    }
    tr:nth-child(even) {
        background-color: color-mix(in srgb, colors.$secondary, white 2%); // TODO Perhaps change
    }
    tr:hover {
        @include layer;
    }
}

@mixin btn($color: colors.$white, $textColor: colors.$black) {
    text-align: center;
    text-decoration: none;
    font-size: fonts.$m;
    background: $color;
    padding: 2*variables.$gap;
    margin: variables.$gap;
    color: $textColor;
    border: none;
    transition: .5s background;
    &:hover {
        background-color: color-mix(in srgb, $color, white 10%); // TODO Perhaps change
        cursor: pointer;
    }
    @include round;
}

//NOTE: also made to work for <Link /> (<a> tag)
@mixin borderBtn($color: colors.$white) {
    @include btn($color);
    background: transparent;
    border: solid $color 2px;
    color: $color;
    &:hover {
        background: $color;
        color: color-mix(in srgb, $color, white 40%);
    }
}

@mixin roundAdminSvgBtn() {
    width: 45px;
    height: 45px;
    background-color: colors.$primary;
    border: none;
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-decoration: none;
    svg {
        color: colors.$black;
        transition: color 0.6s;
        width: 31px;
        height: 31px;
    }
    &:hover svg {
        color: colors.$gray-500;
        cursor: pointer;
    }
}

@mixin roundBtn($color: colors.$white) {
    width: 20px;
    height: 20px;
    background-color: $color;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s background;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: color-mix(in srgb, $color, black 10%); // TODO Perhaps change
    }
}

@mixin primaryIconLink {
    color: colors.$primary;
    padding: variables.$gap;
    width: 30px;
    height: 30px;
    &:hover {
        color: color-mix(in srgb, colors.$primary, black 10%); // TODO Perhaps change
        cursor: pointer;
    }
}

@mixin loadImage {
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image:linear-gradient(-45deg, colors.$white 0px, colors.$white 20%, colors.$gray-500 60%, colors.$white 80%, colors.$white 100%);
        animation: rotate 10s linear infinite;
        scale: 10;
    }
}

@mixin pagePadding($max-width: 900px) {
    $width: 100%;

    width: $width;
    max-width: $max-width;
    margin-left: max(calc(($width - min($width, $max-width)) / 2), 0px);
    position: relative;
    overflow-y: hidden;
}

@mixin ImageCardListLayout {
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 2em) / 3));
    grid-gap: 1em;
    @media screen and (max-width: variables.$mobileBreakpoint) {
        grid-template-columns: repeat(2, calc((100% - 2em) / 2));
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        place-items: center;
        > * {
            width: 100%;
        }
    }
}

@mixin EventCardListLayout {
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 2em) / 2));
    grid-gap: 1em;
    @media screen and (max-width: variables.$mobileBreakpoint) {
        grid-template-columns: repeat(2, calc((100% - 2em) / 2));
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        place-items: center;
        > * {
            width: 100%;
        }
    }
}

@mixin screenMobile {
    @media (max-width: variables.$mobileBreakpoint) {
        @content;
    }
}

@mixin screenLg {
    @media (min-width: calc(variables.$mobileBreakpoint + 1px)) {
        @content;
    }
}

@keyframes rotate {
    0% {
        transform: translate(0) rotate(0deg);
    }
    100% {
        transform: translate(250%) rotate(5deg);
    }
}
