@use "_colors";
@use "_variables";
@use "_fonts";


@mixin round {
    border-radius: variables.$rounding;
    padding: variables.$rounding;
}

@mixin card {
    border-radius: 3*variables.$rounding;
    padding: 5*variables.$rounding;
}

@mixin btn($color: colors.$white) {
    text-align: center;
    text-decoration: none;
    font-size: fonts.$m;
    background: $color;
    padding: variables.$gap;
    padding: 2*variables.$gap;
    margin: variables.$gap;
    color: colors.$black;
    border: none;
    width: 100%;
    transition: .5s background;
    &:hover {
        background-color: darken($color, 10%);
        cursor: pointer;
    }
    @include round;
}

//NOTE: also made to work for <Link /> (<a> tag)
@mixin borderBtn($color: colors.$white, $hoverColor: darken($color, 40%)) { 
    @include btn($color);
    background: transparent;
    border: solid $color 2px;
    color: $color;
    &:hover {
        background: $color;
        color: $hoverColor;
    }
}

@mixin roundBtn($color: colors.$white) {
    width: 20px;
    height: 20px;
    background-color: $color;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s background;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: darken($color, 10%);
    }
}

@mixin yellowIconLink {
    color: colors.$yellow;
    padding: variables.$gap;
    width: 30px;
    height: 30px;
    &:hover {
        color: darken(colors.$yellow, 10%);
        cursor: pointer;
    }
}

@mixin loadImage {
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image:linear-gradient(-45deg, colors.$white 0px, colors.$white 20%, colors.$gray-500 60%, colors.$white 80%, colors.$white 100%);
        animation: rotate 10s linear infinite;
        scale: 10;
    }
}

@keyframes rotate {
    0% {
        transform: translate(0) rotate(0deg);
    }
    100% {
        transform: translate(250%) rotate(5deg);
    }
}