.html {
    --rounding: 12px;
}

$gap: 8px;

$mobileBreakpoint: 800px;

$rounding: var(--rounding);
$cardRounding: calc(3 * $rounding);
$cardPadding: calc(3 * $rounding);

$transitionTime: 0.3s;

$nav-height: 60px;

$minimalPagePadding: min(4rem, 4vw);
