@use "ohma";

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ohma.$fonts-primary;
}

html {
    scroll-behavior: smooth;
    background-color: ohma.$colors-secondary;
    z-index: 5;

    --primary: oklch(0.727 0.137 245.985);
    --primary-l: 0.727;
    --primary-c: 0.137;
    --primary-h: 245.985;
/*
    --secondary: oklch(0.215 0.038 245.949);
    --secondary-l: 0.215;
    --secondary-c: 0.038;
    --secondary-h: 245.949;
    --layer:       hsl(207, 48.1%, 35.5%, 0.18);
*/
    --secondary: oklch(0.238 0.004 228.952);
    --secondary-l: 0.238;
    --secondary-c: 0.004;
    --secondary-h: 228.952;
    --layer: hsl(210, 0%, 0%, 20%);


    --boxShadow:   hsl(207, 0%,    0%,    20%);
    --text:        hsl(0,   0%,    90%);
    --text-muted:  hsl(0,   0%,    75%);
    --text-inv:    hsl(0,   0%,    10%);
    --text-sec:    hsl(0,   0%,    10%);
}

body {
    font-size: ohma.$fonts-s;
    font-weight: ohma.$fonts-weight-s;
    overflow-x: hidden;
    overscroll-behavior-y:contain;
    background-color: ohma.$colors-secondary;
}

h1 {
    font-size: ohma.$fonts-xl;
    font-weight: ohma.$fonts-weight-l;
}

h2 {
    font-size: ohma.$fonts-l;
    font-weight: ohma.$fonts-weight-l;
}

h3 {
    font-size: ohma.$fonts-l;
    font-weight: ohma.$fonts-weight-m;
}

h4, p {
    font-size: ohma.$fonts-m;
    font-weight: ohma.$fonts-weight-s;
}

h5 {
    font-size: ohma.$fonts-s;
    font-weight: ohma.$fonts-weight-s;
}
