@use "ohma";

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ohma.$fonts-primary;
}

html {
    scroll-behavior: smooth;
    background-color: ohma.$colors-secondary;
    z-index: 5;

    --primary:     hsl(207, 91%,   65%);
    --secondary:   hsl(207, 64%,   10%);
    --layer:       hsl(207, 48.1%, 35.5%, 0.18);
    --boxShadow:   hsl(207, 0%,    0%,    20%);
    --text:        hsl(0,   0%,    80%);
    --text-muted:  hsl(0,   0%,    70%);
    --text-inv:    hsl(0,   0%,    10%);
    --text-sec:    hsl(0,   0%,    10%);
}

body {
    font-size: ohma.$fonts-s;
    font-weight: ohma.$fonts-weight-s;
    overflow-x: hidden;
    overscroll-behavior-y:contain;
    background-color: ohma.$colors-secondary;
}

h1 {
    font-size: ohma.$fonts-xl;
    font-weight: ohma.$fonts-weight-l;
}

h2 {
    font-size: ohma.$fonts-l;
    font-weight: ohma.$fonts-weight-l;
}

h3 {
    font-size: ohma.$fonts-l;
    font-weight: ohma.$fonts-weight-m;
}

h4, p {
    font-size: ohma.$fonts-m;
    font-weight: ohma.$fonts-weight-s;
}

h5 {
    font-size: ohma.$fonts-s;
    font-weight: ohma.$fonts-weight-s;
}
