@use '@/styles/ohma';

.DotList {
    @include ohma.table();
    margin-top: calc(2 * #{ohma.$gap});
    .inactive {
        text-decoration: line-through;
        color: ohma.$colors-accent-red;
    }
}

.selection {
    @include ohma.card;
    background-color: ohma.$colors-surface-raised;
    padding: calc(3 * #{ohma.$gap});
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: ohma.$gap;

    p {
        flex-grow: 1;
        margin: 0;
    }

    .openUserList {
        @include ohma.btn(ohma.$colors-accent-blue);
        font-weight: ohma.$fonts-weight-s;
        flex-grow: 0;
    }

    .userSelected {
        display: flex;
        button {
            border: none;
            background-color: transparent;
            svg {
                color: ohma.$colors-text-muted;
                width: 1.5em;
                height: 1.5em;
            }
        }
    }

    .selectActive {
        @include ohma.btn(ohma.$colors-accent-blue);
        font-weight: ohma.$fonts-weight-s;
    }
}