@use '@/styles/ohma';

.wrapper {
    padding: 1em;

    .actions {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        .action {
            @include ohma.btn(ohma.$colors-primary);
            font-weight: ohma.$fonts-weight-s;
            margin: ohma.$gap 0;
        }
    }
}
