@use '@/styles/ohma';

.UserRow {
    p {
        font-weight: ohma.$fonts-weight-s;
    }
    border-bottom: 2px solid ohma.$colors-secondary;
    margin-top: ohma.$gap;
    padding: ohma.$gap / 2 ohma.$gap;
}