@use '@/styles/ohma';

.VisibilityMatrixEditor {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.summary {
    font-style: italic;
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.requirement {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    border: 1px solid;
}

.requirementHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.condition {
    display: flex;
    gap: 0.5em;
    align-items: flex-end;
}
