@use '@/styles/ohma';

// sub page nav bar item

.container {
    border-radius: calc(#{ohma.$rounding} - #{ohma.$gap});
    color: ohma.$colors-text;
    transition: background 0.2s ease, color 0.2s ease;
    display: inline-flex;
    align-items: center;
    @include ohma.boxShadow('');
    height: calc(#{ohma.$nav-height} - #{ohma.$gap} * 2);
    padding: 0 ohma.$gap;
    border: 0;
    background: transparent;
    justify-content: center;

    &:hover {
        background: ohma.$colors-primary;
        color: ohma.$colors-text-inv;
    }
}
.container:hover {
    color: ohma.$colors-text;
}
.linkContainer > a {
    text-decoration: none;
}
.linkContainer {
    margin: 0;
    flex-grow: 0;
}
.linkContainer:last-child {
    margin-bottom: 0;
}
.selected {
    color: ohma.$colors-primary;
}
.selected * {
    color: ohma.$colors-primary;
}

.selected:hover * {
    color: ohma.$colors-text;
}
.icon {
    width: 24px;
    height: 24px;
}
.text {
    line-height: calc(#{ohma.$nav-height} - 32px);
    text-align: center;
    padding-left: 16px;
}

@media (max-width: ohma.$mobileBreakpoint) {
    .text {
        display: none;
    }
}

// Sub page nav bar

.navBarContainer {
    display: flex;
    grid-area: subPageNavBar;
    border-radius: ohma.$rounding;
    background: ohma.$colors-base00;
    padding: ohma.$gap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    z-index: 2;
    height: ohma.$nav-height;
    justify-content: center;
    gap: calc(#{ohma.$gap} / 2);
    overflow-x: auto;
    }

