@use "@/styles/ohma";

@use "sass:color";

$padding: 1.5em;
$imageHeight: 175px;
$contentHeight: 64px;
$height: $imageHeight + $contentHeight;

$background: color-mix(in srgb, ohma.$colors-secondary, white 30%); // TODO Perhaps change
$textBoxTransparency: 60%;
$textColor: ohma.$colors-text;
$textUnderlineColor: ohma.$colors-secondary;
$textBoxBackgroundColor: ohma.$colors-white;

.CommitteeCard {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: ohma.$cardRounding;
    padding: 0;
    position: relative;
    color: inherit;
    text-decoration: none;
    display: block;
    background-color: $background;
    isolation: isolate;
    overflow: hidden;
    box-shadow: ohma.$colors-gray-800 0 0 10px;
    transition-duration: 0.3s;

    @include ohma.screenMobile {
        width: 100%;
    }

    &:hover {
        scale: 1.1;

        @include ohma.screenMobile {
            scale: 1;
        }

        > .image {
            scale: 1.1;
            transition: scale 0.3s;

            @include ohma.screenMobile {
                scale: 1;
            }
        }

        > .content {
            box-shadow: ohma.$colors-secondary 0 0 0;

            @include ohma.screenMobile {

                box-shadow: ohma.$colors-secondary 0 0 40px;
                padding-top: $padding
            }

            > h2 {
                opacity: 100%;

                @include ohma.screenMobile {
                    opacity: 100%;
                }
            }
        }
    }

    > .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: scale 0.3s;

        > * {
            width: 100% !important;
            height: 100%;
            object-fit: cover;

            img {
                width: 100% !important;
                height: 100%;
                object-fit: cover;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(ellipse at center top, transparent 40%, $background 70%, $background 100%);
            scale: 1.5 1;
            z-index: 0;
        }
    }

    > .content {
        z-index: 2;
        position: absolute;
        border-radius: ohma.$cardRounding;
        @include ohma.layer();
        width: 100%;
        padding: $padding;
        bottom: 0;
        height: $contentHeight;
        box-shadow: ohma.$colors-secondary 0 0 40px;
        color: $textColor;
        transition: 0.3s;
        overflow: hidden;

        > h2 {
            opacity: 100%;
            text-align: center;
            text-decoration-color: $textUnderlineColor;
            margin-bottom: ohma.$gap;
        }
    }
}
