@use '@/styles/ohma';

.themeList {
  padding: 10px;
  margin: 10px 0;
  background: var(--primaryLightLighten);
  color: var(--secondaryDark);
  border-radius: 8px;
  transition: background 0.3s ease;
}

.primary,
.secondary {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.primary {
  background: linear-gradient(135deg, var(--primaryDark), var(--primaryLight));
}

.secondary {
  background: linear-gradient(135deg, var(--secondaryDark), var(--secondaryLight));
}

.light,
.dark {
  display: flex;
  gap: 5px;
}

.light > div,
.dark > div {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.primary .light > div:nth-child(1) {
  background-color: var(--primaryLightLighten);
}
.primary .light > div:nth-child(2) {
  background-color: var(--primaryLight);
}
.primary .light > div:nth-child(3) {
  background-color: var(--primaryLightDarken);
}

.primary .dark > div:nth-child(1) {
  background-color: var(--primaryDarkLighten);
}
.primary .dark > div:nth-child(2) {
  background-color: var(--primaryDark);
}
.primary .dark > div:nth-child(3) {
  background-color: var(--primaryDarkDarken);
}

.secondary .light > div:nth-child(1) {
  background-color: var(--secondaryLightLighten);
}
.secondary .light > div:nth-child(2) {
  background-color: var(--secondaryLight);
}
.secondary .light > div:nth-child(3) {
  background-color: var(--secondaryLightDarken);
}

.secondary .dark > div:nth-child(1) {
  background-color: var(--secondaryDarkLighten);
}
.secondary .dark > div:nth-child(2) {
  background-color: var(--secondaryDark);
}
.secondary .dark > div:nth-child(3) {
  background-color: var(--secondaryDarkDarken);
}

.buttonGroup {
  display: flex;
  justify-content: left;
}
