@use '@/styles/ohma';

.wrapper {
    margin: 1em 0;
    @include ohma.ImageCardListLayout;
}

.archiveLink {
    color: ohma.$colors-black;
    svg {
        width: 30px;
        height: 30px;
    }
}