@use '@/styles/ohma';

.PopUp {
    @include ohma.card;
    position: fixed;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: ohma.$colors-white;
    > button {
        @include ohma.roundBtn(ohma.$colors-red);
    }
}

.openBtn {
    &:hover {
        cursor: pointer;
    }
}