@use '@/styles/ohma';

.ImageLinkEditor {
    min-width: 50vw;
    min-height: 50vh;
}

.editIcon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 0.2s ease-in-out;

    &:hover {

    }
}