@use '@/styles/ohma';
$image-size: 150px;

.ImageCollectionList {
    display: flex;
    flex-flow: row wrap;
    > .imageAndBtn {
        width: $image-size;
        height: $image-size;
        margin: 0.5*ohma.$gap;
        overflow: hidden;
        @include ohma.round;
        position: relative;
        border: 3px solid ohma.$colors-primary;
        > .skeleton {
           @include ohma.loadImage;
        }
        > *:first-child {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100%;     
            > img {
                transition: transform 0.5s ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            
        }
        &:hover {
            margin: solid 10px ohma.$colors-primary;
            > *:first-child > img {
                transform: scale(1.1);
            }
        }
        > button {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            
        }
    }

    .loadingControl {
        width: 100%;
    }
}