@use '@/styles/ohma';

.CmsParagraph {
    width: 100%;
    position: relative;
    margin-bottom: 2*ohma.$gap;
    > .HTMLcontent {
        width: 100%;
        * {
            word-wrap: break-word;
            color: ohma.$colors-gray-700;
        }
        ul ul, ol ol {
            padding-left: 20px;
        }
        li {
            list-style-position: inside;
        }
        a {
            color: ohma.$colors-black;
            text-decoration: none;
            color: ohma.$colors-secondary;
            font-weight: ohma.$fonts-weight-l;
            &:hover {
                text-decoration: underline;
            }
        }
        h1, h2 {
            margin-bottom: .5em;
            color: ohma.$colors-black;
        }
        p {
            line-height: 1.5;
        }
    }
}