@use '@/styles/ohma';

.SideBar {
    color: ohma.$colors-white;
    margin: 1em 0em 1em 2em;
    @include ohma.card();
    background: radial-gradient(circle, 
        rgba(ohma.$colors-secondary, 0.65) 0%, 
        rgba(ohma.$colors-secondary, 0.8) 50%, 
        rgba(ohma.$colors-secondary, 0.65) 100%);
    backdrop-filter: blur(10px);
    height: calc(100% - 2em);
    h2 {
        font-size: ohma.$fonts-l;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            margin: 1em 0;
            a {
                color: ohma.$colors-white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}