@use '@/styles/ohma';

.SideBar {
    display: flex;
    position: relative;
}

@media screen and not (max-width: ohma.$mobileBreakpoint) {
    .SideBar {
        > aside {
            height: 100%;
            width: 300px;
            position: fixed;
            left: 0;
            z-index: 2;
            height: 100%;
            width: 300px;
            max-height: calc(100vh - 40px);
        }
        > main {
            z-index: 1;
            transform: translateX(300px);
            width: calc(100% - 300px - 2em);
            margin: 1em;
            overflow: hidden;
            min-height: 80vh;
        }
    }
    
    .measure {
        height: calc(100% - 2em);
        
    }
    .SideBarContent {
        opacity: 0; // hide before handleHeight has run once
    
        height: calc(100% - 2em);
        transition: opacity 0.35s, transform 0.05s ease-out;
        overflow: auto;
        color: ohma.$colors-white;
        margin: 1em 0em 1em 1em;
        @include ohma.card();
        background: rgba(ohma.$colors-secondary, 0.65);
        backdrop-filter: blur(10px);
        h2 {
            font-size: ohma.$fonts-l;
        }
    }
    
    .SideBarMobile {
        display: none;
    }
}

@media screen and (max-width: ohma.$mobileBreakpoint) {
    .SideBar {
        > main {
            min-height: 100vh;
            width: 100%;
        }
    }
    .SideBarMobile {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: rgba(ohma.$colors-secondary, 0.9); 
        transition: padding-bottom 0.35s, height 0.35s;
        &.SideBarMobileClosed {
            height: 110px;
        }
        &.SideBarMobileOpen {
            padding-bottom: 60px;
            svg {
                transform: rotateX(180deg);
            }
        }
        > button {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px;
            background-color: transparent;
            border: none;
            margin: ohma.$gap 0;
            svg {
                width: 40px;
                height: 40px;
                margin: 5px;
                color: ohma.$colors-white;
                transition: transform 0.35s;
            }
            h1 {
                margin: 0 ohma.$gap;
                color: ohma.$colors-white;
            }

        }    
        ul > li {
            margin-left: calc(50px + ohma.$gap);
        }
    }
    .SideBarContent {
        display: none;
    }
}

.MainListContent {
    list-style: none;
    padding: 0;
    position: relative;
    li {
        margin: 1em 0;
        a {
            color: ohma.$colors-white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    height: 100%;
}