@use '@/styles/ohma';

.SideBar {
    display: flex;
    position: relative;
    > aside {
        height: 100%;
        width: 300px;
        position: fixed;
        left: 0;
        z-index: 2;
        height: 100%;
        width: 300px;
        max-height: calc(100vh - 40px);
    }
    > main {
        z-index: 1;
        transform: translateX(300px);
        width: calc(100% - 300px - 2em);
        margin: 1em;
        overflow: hidden;
    }
}

.measure {
    height: calc(100% - 2em);
    
}
.SideBarContent {
    height: calc(100% - 2em);
    transition: transform 0.05s ease-out;
    overflow: auto;
    color: ohma.$colors-white;
    margin: 1em 0em 1em 1em;
    @include ohma.card();
    background: rgba(ohma.$colors-secondary, 0.65);
    backdrop-filter: blur(10px);
    h2 {
        font-size: ohma.$fonts-l;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            margin: 1em 0;
            a {
                color: ohma.$colors-white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}