# See /usr/share/postfix/main.cf.dist for a commented, more complete version

# The hostname of the machine
myhostname = {{ .Env.MY_HOSTNAME }}

# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname
# This is used for mail sendt from postfix
myorigin = $myhostname

smtpd_banner = $myhostname ESMTP $mail_name (Debian/GNU)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# See http://www.postfix.org/COMPATIBILITY_README.html -- default to 2 on
# fresh installs.
compatibility_level = 2

# TLS parameters
smtpd_tls_cert_file=/etc/letsencrypt/live/{{ .Env.MY_HOSTNAME }}/fullchain.pem
smtpd_tls_key_file=/etc/letsencrypt/live/{{ .Env.MY_HOSTNAME }}/privkey.pem
smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

#smtpd_helo_required = yes
#smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination

# The domain of the mails
mydomain = {{ .Env.MY_DOMAIN }}

# Dette tror jeg bare gjelder hvis mailen skal hit
alias_maps = pgsql:/etc/postfix/pgsql-aliases.cf  
alias_database = pgsql:/etc/postfix/pgsql-aliases.cf 

# Denne er veldig viktig
relayhost = {{ .Env.RELAY_HOST }}

# Dette er den viktige pekeren, som sorger for at mail blir videresendt
virtual_alias_maps = pgsql:/etc/postfix/pgsql-aliases.cf

# Denne er veldig nyttig til debugging
maillog_file=/dev/stdout

# Default settings
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all

# Domains that is not forwarded
mydestination = $mydomain $myhostname localhost.$myhostname localhost

# Denne burde kanskje i fremtiden begrenset til kun interne ntnu ip'er
#mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mynetworks = 127.0.0.0/8 10.0.0.0/8 129.241.0.0/16 [::ffff:127.0.0.0]/104 [::1]/128