@use '@/styles/ohma';

.DotExpieries {
    display: flex;
    flex-flow: column;
    max-height: 8em;
    overflow-y: auto;

    .expired {
        text-decoration: line-through;
        color: ohma.$colors-gray-600;
    }
}
