@use '@/styles/ohma';

.UserDots {
    .header {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: ohma.$gap;
    }

    .hasDots, .noDots {
        padding: 0.2em 0.6em;
        border-radius: 0.4em;
        white-space: nowrap;
    }

    .hasDots {
        background-color: color-mix(in srgb, ohma.$colors-red, white 50%);
        color: ohma.$colors-red;
    }

    .noDots {
        background-color: color-mix(in srgb, ohma.$colors-green, white 50%);
        color: ohma.$colors-green;
    }

    .dots {
        @include ohma.table;
    }
}
