@use '@/styles/ohma';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > .container {
        display: flex;
        flex-direction: column;
    }
}


