@use "@/styles/ohma";

$padding: ohma.$gap;
$imageHeight: 250px;
$contentHeight: 200px;
$height: $imageHeight + $contentHeight;

$textUnderlineColor: ohma.$colors-secondary;

.ImageCard {
    min-width: 200px; 
    max-width: 300px;
    border-radius: ohma.$cardRounding;
    position: relative;
    color: inherit;
    text-decoration: none;
    display: block;
    height: $height;
    isolation: isolate;
    overflow: hidden;
    @include ohma.layer;
    margin: calc(1 * ohma.$gap);

    > .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $imageHeight;
        z-index: 1;
        overflow: hidden;
        border-radius: ohma.$cardRounding;

        > * {
            width: 100% !important;
            height: 100%;
            object-fit: cover;

            img {
                width: 100% !important;
                height: 100%;
                object-fit: cover;
            }
        } 

        /* &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, transparent 30%, $background 80%, $background 100%);
            scale: 1.5 1;
            z-index: 0;
        } */
    }

    > .content {
        z-index: 2;
        position: absolute;
        width: 100%;
        padding-left: $padding;
        padding-right: $padding;
        top: calc($imageHeight + $padding);
        height: $contentHeight;
        transition: 0.3s;
        overflow: hidden;
        > h2 {
            opacity: 100%;
            font-size: ohma.$fonts-xl;
        }
    }

    @include ohma.card();
}
