@use "@/styles/ohma";

$cover-height: min(300px, 40vh);
$padding: ohma.$minimalPagePadding;

.Article {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "coverImage coverImage"
        "article sideBar"
        "addSection sideBar"
    ;
    @include ohma.screenMobile {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas: 
            "coverImage"
            "article"
            "addSection"
            "sideBar"
        ;
    }
    .coverImage {
        grid-area: coverImage;
        overflow: hidden;
        isolation: isolate;
        display: block;
        width: 100%;
        height: $cover-height;
        position: relative;
        > *:first-child {
            position: relative;
            width: 100%;
            height: 100%;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0,0,0, 0), ohma.$colors-secondary);
                z-index: 1;
            }
            > * {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100%;
                object-fit: cover;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: $cover-height !important;
                    object-fit: cover;
                }
            }
        }
        >*:nth-child(2) {
            position: absolute;
            left: $padding;
            bottom: 1em;
        }   
        
    }
    article {
        grid-area: article;
        isolation: isolate;  
        > * {
            margin: 2em $padding;
            isolation: isolate;
            position: relative;
            &:last-child {
                margin-bottom: 1em;
            }
        }  
        &.noMargin {
            > * {
                margin: 0;
            }
        }
        
        //This makes sure the the confirmation for deletion does not lay underneath section 
        @for $i from 1 through 15 { 
            > *:nth-child(#{$i}) {
                z-index: calc(15 - $i); 
            }
        }

        .moveSection {
            position: relative;
            display: block;
            > .moverComponent {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 40%);
                z-index: 2;
            }
        }
    }
    .addSection {
        grid-area: addSection;
        margin: 0 $padding;
    }
    .empty {
        display: flex;
        height: 2em;
    }
    .sideBar {
        grid-area: sideBar;
    }
}   

