@use '@/styles/ohma';
.title {
    font-size: ohma.$fonts-xxl;
    font-family: ohma.$fonts-secondary;
    text-transform: uppercase;
    color: ohma.$colors-white;
    z-index: 2;
    position: relative;
}
.submitNameButton {
   position: absolute;
   bottom: 100%;
   left: 0;
   width: 200px;
   button {
        margin: ohma.$gap 0;
   }
}