@use '@/styles/ohma';

.wrapper {
    background: ohma.$colors-surface-base;
    padding: 0 calc(2 * #{ohma.$gap});
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            color: ohma.$colors-text;
        }
        .imageContainer {
            border-right: solid 2px ohma.$colors-surface-base;
            padding-right: 20px;
            margin-right: 20px;
        }
    }
    > button {
        position: absolute;
        top: calc(#{ohma.$nav-height} + 20px + #{ohma.$gap});
        right: 20px;
        width: auto;
    }
}

@media screen and (max-width: ohma.$mobileBreakpoint) {
    .info {
        min-height: 50vh;
    }
}