@use "@/styles/ohma";

.body {
    background-color: ohma.$colors-body-background;
    color: ohma.$colors-text;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - ohma.$nav-height);
    margin-top: ohma.$nav-height;
}

.navBar {
    height: ohma.$nav-height;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: ohma.$colors-secondary;
} 

.content {
    flex: 1 0 auto;
    max-width: 100vw;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible;
    min-height: calc(100dvh - ohma.$nav-height);
}

.footer {
    flex-shrink: 0;
    z-index: 2;
    position: relative;
    box-sizing: content-box;
}

.mobileNavBar {
    width: 100%;
    position: sticky;
    bottom: 0;
    display: none;
    z-index: 3;
    height: ohma.$nav-height;
}

@media (max-width: ohma.$mobileBreakpoint) {
    .mobileNavBar {
        display: block;
    }
    .wrapper {
        margin-top: 0;
        min-height: 100vh;
    }
    .navBar {
        display: none;
    }
}

