@use "@/styles/ohma";

.body {
    background: radial-gradient(circle at 10% 0%, ohma.$colors-primary 0%, #1D1D20 20%);
    color: ohma.$colors-text;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.navBar {
    height: ohma.$nav-height;
    z-index: 3;
    top: 0;
    margin: ohma.$gap;
    width: calc(100dvw - (#{ohma.$gap} * 2));
    border-radius: ohma.$rounding;
}

.sideBar {
    position: fixed;
    top: calc(#{ohma.$nav-height} + 2*#{ohma.$gap});
    left: ohma.$gap;
    height: calc(100dvh - #{ohma.$nav-height} - (#{ohma.$gap} * 3));
    width: ohma.$nav-height;
    z-index: 3;
}

.content {
    flex: 1 0 auto;
    margin: 0 ohma.$gap ohma.$gap;
    width: calc(100dvw - (#{ohma.$gap} * 2) - #{ohma.$nav-height} - #{ohma.$gap});
    left: calc(#{ohma.$nav-height} + #{ohma.$gap});
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: calc(100dvh - #{ohma.$nav-height} - (#{ohma.$gap} * 3));
    border-radius: ohma.$rounding;
}

.footer {
    flex-shrink: 0;
    position: relative;
    box-sizing: content-box;
}

.mobileNavBar {
    width: calc(100dvw - (#{ohma.$gap} * 2));
    margin: ohma.$gap ohma.$gap 0;
    position: sticky;
    bottom: ohma.$gap;
    display: none;
    z-index: 3;
    height: ohma.$nav-height;
    border-radius: ohma.$rounding;
    overflow: hidden;
}

@media (max-width: ohma.$mobileBreakpoint) {
    .sideBar {
        display: none;
    }

    .mobileNavBar {
        display: block;
    }
    .content {
        width: calc(100dvw - (#{ohma.$gap} * 2));
        left: 0;
        height: calc(100dvh - 2 * #{ohma.$nav-height} - 40px);
    }
}

