@use "@/styles/ohma";

.body {
    background:
        linear-gradient(125deg, color-mix(in srgb, ohma.$colors-accent-blue 30%, transparent) 0%, color-mix(in srgb, ohma.$colors-surface-base 20%, transparent) 70%),
        ohma.$colors-surface-raised;
    color: ohma.$colors-text;
}

.wrapper {
    display: grid;
    grid-template-columns: ohma.$nav-height 1fr;
    grid-template-rows: ohma.$nav-height 1fr ohma.$nav-height;
    gap: ohma.$gap;
    padding: ohma.$gap;
    height: 100dvh;
    max-width: calc(100dvh * 16 / 9);
    margin: 0 auto;
    grid-template-areas:
        "navBar navBar"
        "sideBar content"
        "sideBar content";
    transition: grid-template-columns ohma.$transitionTime ease;

    @media (min-width: calc(#{ohma.$mobileBreakpoint} + 1px)) {
        &:has(.sideBar [data-expanded='true']) {
            grid-template-columns: 220px 1fr;
        }
    }
}

.navBar {
    grid-area: navBar;
    grid-column: 1 / -1;
    height: ohma.$nav-height;
    z-index: 3;
    border-radius: ohma.$rounding;
}

.sideBar {
    grid-area: sideBar;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: ohma.$rounding;
}

.footer {
    flex-shrink: 0;
    position: relative;
    box-sizing: content-box;
}

.mobileNavBar {
    display: none;
    z-index: 3;
    border-radius: ohma.$rounding;
    overflow: hidden;
}

@media (max-width: ohma.$mobileBreakpoint) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: ohma.$nav-height 1fr ohma.$nav-height;
        grid-template-areas:
            "navBar"
            "content"
            "mobileNavBar";
    }

    .sideBar {
        display: none;
    }

    .mobileNavBar {
        display: block;
        grid-area: mobileNavBar;
        height: ohma.$nav-height;
        width: 100%;
    }
}


