@use "@/styles/ohma";

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navBar {
    position: sticky;
    top: 0;
}

.content {
    flex: 1; 
    padding: ohma.$gap;
}

.footer {
}