@use '@/styles/ohma';

.wrapper {
    background: ohma.$colors-base00;
    display: grid;
    place-items: center;
    place-content: center;
    min-height: 100%;
    width: 100vw;
    position: absolute;
}

