@use '@/styles/ohma';

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            color: ohma.$colors-text;
        }
        .imageContainer {
            border-right: solid 2px ohma.$colors-secondary;
            padding-right: 20px;
            margin-right: 20px;
            img {
                filter: invert(100%);
            }
        }
    }
}

@media screen and (max-width: ohma.$mobileBreakpoint) {
    .info {
        min-height: 50vh;
    }
}