@use "@/styles/ohma";

.PopInFacts {
    width: 100%;
    height: 100%;
    color: ohma.$white;
    position: relative;
    transition: background-color .3s;
    display: grid;
    justify-content: center;
    &.yellow {
        background-color: ohma.$yellow;
    }
    > .text {
        font-size: 3em;
        text-align: center;
        transition: transform .5s;
    }
    > .lightning {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (max-width: ohma.$mobileBreakpoint) {
    .PopInFacts > .text {
        font-size: 2*ohma.$xlFont;
    }
}