@use "@/styles/ohma";

.section {
    display: flex;
    overflow: hidden;
    > .imgContainer {
        position: relative;
        overflow: hidden;
        > img {
            position: absolute;
            top: -9999px;
            left: -9999px;
            right: -9999px;
            bottom: -9999px;
            margin: auto;
        }
    }
  
    > div:not(.imgContainer) {
        padding: 15*ohma.$gap;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        > h3 {
            font-size: ohma.$xlFont;
            font-weight: ohma.$lFontWeight;
            margin-bottom: ohma.$gap;
        }
        > p {
            font-size: ohma.$mFont;
            line-height: 1.7em;
            margin-bottom: ohma.$gap;
        }
        > a {
            width: 120px;
            margin: 0;
        }
    }
    &.blue {
        background-color: ohma.$slate;
        color: ohma.$white;
        a {
            @include ohma.borderBtn(ohma.$yellow);
        }
    }
    &:not(.blue) {
        background-color: ohma.$white;
        color: ohma.$black;
        a {
            @include ohma.borderBtn(ohma.$slate);
        }
    }
}