@use "@/styles/ohma";

.section {
    display: flex;
  
    > div {
        padding: 15*ohma.$gap;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        > h3 {
            font-size: ohma.$xlFont;
            font-weight: ohma.$lFontWeight;
            margin-bottom: ohma.$gap;
        }
        > p {
            font-size: ohma.$mFont;
            line-height: 1.7em;
            margin-bottom: ohma.$gap;
        }
        > a {
            @include ohma.borderBtn(ohma.$slate);
            width: 120px;
            margin: 0;
        }
    }
    &.blue {
        background-color: ohma.$slate;
        color: ohma.$white;
        a {
            @include ohma.borderBtn(ohma.$yellow);
            width: 120px;
            margin: 0;
        }
    }
}