@use '@/styles/ohma';

.EditModeSwitch {
    margin: ohma.$gap;

    label {
        cursor: pointer;

        input {
            display: none;

            &:checked + .EditModeSwitchIcon {
                color: ohma.$colors-primary;
            }
        }

        .EditModeSwitchIcon {
            width: 20px;
            height: 20px;
            color: ohma.$colors-white;
            transition: 0.2s;
        }
    }
}