@use '@/styles/ohma';

.EditModeSwitch {
    width: 100%;
    height: 100%;

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: ohma.$gap;
        box-sizing: border-box;

        input {
            display: none;

            &:checked + .EditModeSwitchIcon {
                color: ohma.$colors-accent-blue;
            }
        }

        .EditModeSwitchIcon {
            width: 20px;
            height: 20px;
            color: ohma.$colors-text;
            transition: 0.2s;
        }
    }
}