@use "@/styles/ohma";

.resetPasswordLink {
    color: ohma.$colors-black;
    transition: color 100ms;
    padding: 0.3rem;

    &:hover {
        color: ohma.$colors-gray-500;
    }
}

.loginContainer {
    max-width: 200px;
    
    * {
        width: 100%;
    }

    button, input, p {
        margin: ohma.$gap 0;
    }

    p {
        font-size: ohma.$fonts-s;
    }
}
