@use "@/styles/ohma";
$omegamai: url("backgroundimages/Omegamai.jpeg");
$frontImg: url("backgroundimages/frontImg.jpeg");
$taktlause: url("backgroundimages/taktlause.jpeg");

.wrapper {
    font-size: 40px;
    > .part {
        &.frontImg {
            background-image: $frontImg;
        }
        &.omegamai {
            background-image: $omegamai;
        }
        &.taktlause {
            background-image: $taktlause;
        }
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        width: 100%;
    }
}

.frontInfo {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: grid;
    place-items: center;
    background: radial-gradient(ohma.$colors-black, transparent);
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px; //compansate a little for nav size 
        > img {
            margin-bottom: 2*ohma.$gap;
        }
        > .socials {
            margin: 3*ohma.$gap;
            > a {
                margin: ohma.$gap;
                color: ohma.$colors-white;
                transition: color .3s;
                &:hover {
                    color: ohma.$colors-gray-300;
                }
            }
        }
        > a:not(.scrollDown) {
            @include ohma.borderBtn();
        }
        > .scrollDown {
            color: ohma.$colors-white;
        }
    }
}

.emptyPart {
    height: 60vh;
}