@use '@/styles/ohma';

@use "sass:color";

.conactorLink {
    width: 170px;
    height: 35px;
}

.wrapper {
    position: relative;
    .info {
        margin-top: 1em;
    }
    .links {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1em;
        > a {
            @include ohma.card;
            @include ohma.layer();
            transition: box-shadow 0.3s;
            @include ohma.boxShadow('');
            &:hover {
                @include ohma.boxShadow('hover');
            }
            text-decoration: none;
            color: ohma.$colors-text;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            transition: box-shadow 0.3s;
            @include ohma.boxShadow('');
            &:hover {
                @include ohma.boxShadow('hover');
            }
            > h2 {
                flex: 1;
                text-align: center;
                font-size: ohma.$fonts-xl;
            }
            > .linkImage {
                border-radius: ohma.$rounding;
                overflow: hidden;
            }
        }
    }
}
