@use '@/styles/ohma';

@use "sass:color";

.conactorLink {
    width: 170px;
    height: 35px;
}

.wrapper {
    position: relative;
    .info {
        margin-top: 1em;
    }
    .links {
        display: flex;
        flex-direction: column;
        gap: ohma.$gap;
        > a {
            background: ohma.$colors-base01;
            border-radius: ohma.$rounding;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            color: ohma.$colors-text;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            @include ohma.screenMobile {
                flex-direction: column;
                width: min-content;
                align-self: center;
            }
            > h2 {
                padding: 1em;
                flex: 2;
                text-align: center;
                font-size: ohma.$fonts-xl;
            }
            > .linkImage {
                flex: 1;
                margin: ohma.$gap;
                border-radius: calc(#{ohma.$rounding} - #{ohma.$gap});
                overflow: hidden;
            }
        }
    }
}
