@use '@/styles/ohma';

.wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: ohma.$gap;
    position: relative;
    padding: 0;

    .content {
        flex-grow: 1;
        min-width: 0;
    }
}

