@use '@/styles/ohma';

.wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;

    .content {
        flex-grow: 1;
        min-width: 0;
    }
    > .slideBar {
        align-self: flex-start;
        position: sticky;
        top: 60px;
    }
    @include ohma.screenMobile() {
        height: calc(100dvh - 60px);

        .content {
            margin-top: 74px;
            height: calc(100dvh - 128px);
        }
    }
}
