@use '@/styles/ohma';

$iconSize: 10em;

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    > .icon {
        padding-top: calc(50vh - 50px - #{$iconSize}/2);
        width: $iconSize;
        height: $iconSize;
        color: ohma.$colors-text;
        margin: 1em;
    }
    p {
        color: ohma.$colors-gray-700;
        font-size: 1.5em;
        text-align: center;
    }
}