@use '@/styles/ohma';

.SlideSidebar {
    padding: ohma.$gap;
    min-width: 250px;
    border-radius: ohma.$rounding;
    max-height: calc(100dvh - #{ohma.$nav-height} - 26px);
    overflow-y: scroll;

    @include ohma.screenMobile {
            margin: 8px;
            z-index: 3;
            height: 40dvh;
            width: calc(100% - 16px);
            position: fixed;
            top: 0;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        gap: ohma.$gap;
        overflow-y: auto;
        height: 100%;
        color: ohma.$colors-text;

        h3 {
            display: flex;
            align-items: center;
            gap: ohma.$gap;
            margin: calc(#{ohma.$gap} * 2) 0 0;
            padding: calc(#{ohma.$gap} * 2);
            border-radius: calc(#{ohma.$rounding} - #{ohma.$gap});
            background: ohma.$colors-surface-raised;
            font-size: ohma.$fonts-l;
            font-weight: ohma.$fonts-weight-l;
            color: ohma.$colors-ink-strong;

            &:first-child {
                margin-top: 0;
            }

            svg {
                font-size: 0.8em;
            }
        }

        a {
            color: ohma.$colors-text;
            text-decoration: none;
            padding: calc(#{ohma.$gap} * 1.5) calc(#{ohma.$gap} * 2);
            margin-left: calc(#{ohma.$gap} * 3);
            border-radius: calc(#{ohma.$rounding} - #{ohma.$gap});
            background: ohma.$colors-surface-raised;
            transition: background-color ohma.$transitionTime;
            &:hover, &.active {
                background: ohma.$colors-surface-hover;
            }
        }
    }
}
