@use '@/styles/ohma';

.container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 30px;

    > ul {
        list-style: none;

        > li {
            font-size: large;
            padding: 10px;

            > input {
                display: none;
        
                &:hover ~ label {
                    background-color: darken($color: ohma.$colors-white, $amount: 5%);
                }
        
                &:checked ~ label {
                    background-color: ohma.$colors-primary;
                }
            }
        
            > label {
                display: block;
                border-style: solid;
                border-color: ohma.$colors-primary;
                border-width: 2px;
                border-radius: 10px;
                cursor: pointer;
                padding: 0.5em;
                user-select: none;
            }
        }
    }
}
