@use '@/styles/ohma';

.wrapper {
    @include ohma.ImageCardListLayout;
}

.head {
    display: flex;
    align-items: center;
}

.archiveBtn {
    @include ohma.borderBtn(ohma.$colors-primary);
    display: block;
    margin: 0 ohma.$gap;
}