@use '@/styles/ohma';

.UserRow {
    border-bottom: 2px solid ohma.$colors-secondary;
    margin-top: ohma.$gap;
    padding: calc(ohma.$gap / 2) ohma.$gap;
    p {
        font-weight: ohma.$fonts-weight-s;
    }
}

.clickable {
    cursor: pointer;
}
