@use "@/styles/ohma";

.primary {
    @include ohma.btn(ohma.$colors-accent-blue);
}

.secondary {
    @include ohma.btn(ohma.$colors-surface-hover);
    color: ohma.$colors-text;

    &:hover {
        background-color: color-mix(in srgb, ohma.$colors-surface-hover, white 10%);
    }
}

.green {
    @include ohma.btn(ohma.$colors-accent-green);
}

.red {
    @include ohma.btn(ohma.$colors-accent-red);
}

.button:disabled {
    background-color: ohma.$colors-surface-hover;
    color: ohma.$colors-text-muted;
}
