@use "@/styles/ohma";

$background: ohma.$colors-white;

.Card {
    border-radius: ohma.$cardRounding;
    padding: ohma.$cardRounding;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    margin: 5*ohma.$gap 0;
    overflow: hidden;
    background-color: $background;
}