@use "@/styles/ohma";

.Checkbox {
    font-size: ohma.$fonts-l;
    margin: 0.5em 5px 0.5em 5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;

    > input[type=checkbox] {
        display: inline-block;
        vertical-align: top;
        margin-right: 4px;
    }

}