@use '@/styles/ohma';

.ModeSwitch {
    display: inline-flex;
    align-items: center;
    gap: calc(0.5 * #{ohma.$gap});
    padding: calc(0.5 * #{ohma.$gap});
    background-color: ohma.$colors-surface-hover;
    border-radius: ohma.$gap;
    height: calc(7*#{ohma.$gap});
    margin-top: ohma.$gap;

    @include ohma.screenMobile {
        width: 100%;
    }

    > button {
        height: 100%;
        position: relative;
        border: none;
        background: none;
        margin: 0;
        padding: ohma.$gap calc(2 * #{ohma.$gap});
        font-size: ohma.$fonts-m;
        color: ohma.$colors-text;
        cursor: pointer;
        transition: color .3s;

        @include ohma.screenMobile {
            flex: 1;
        }

        &.active {
            color: ohma.$colors-text-inv;
        }

        &:hover:not(.active) {
            color: ohma.$colors-ink-hover;
        }
    }
}

.indicator {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: ohma.$colors-accent-blue;
    border-radius: calc(0.5 * #{ohma.$gap});
}

.label {
    position: relative;
    z-index: 1;
}
