@use '@/styles/ohma';

.NumberInput {
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
}

.NumberInput .field {
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: ohma.$fonts-m;
    color: ohma.$colors-text;
    background-color: ohma.$colors-layer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.NumberInput .field:focus {
    outline: none;
    box-shadow: 0px 0px 10px ohma.$colors-surface-base;
}

.NumberInput .labe {
    font-size: 14px;
    margin-bottom: 5px;
    color: ohma.$colors-text-muted;
}