@use '@/styles/ohma';

.radioContainer {
    display: flex;
    flex-direction: row;

    margin: 1rem;
    font-size: ohma.$fonts-l;

    >div {
        >label {
            padding: 5px;
            border: 3px solid #ccc;
        }

        input[type="radio"] {
            display: none;
        }

        input[type="radio"]:checked + label {
            border-color: ohma.$colors-primary;
        }
    }

    >div:first-child {
        > label {
            border-radius: ohma.$rounding 0 0 ohma.$rounding;
        }
    }

    >div:last-child {
        > label {
            border-radius: 0 ohma.$rounding ohma.$rounding 0;
        }
    }
}
