@use '@/styles/ohma';

$slider-width: 60px;

.Slider {
    position: relative;
    display: inline-block;
    width: $slider-width;
    height: 34px;
    margin-top: calc(ohma.$fonts-m + .2em);

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        width: $slider-width;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: ohma.$colors-gray-400;
        transition: 0.4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: ohma.$colors-white;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    
    &.secondary input:checked + .slider {
        background-color: ohma.$colors-secondary;
    }
    &.primary input:checked + .slider {
        background-color: ohma.$colors-primary;
    }
    &.red input:checked + .slider {
        background-color: ohma.$colors-red;
    }
    &.green input:checked + .slider {
        background-color: ohma.$colors-green;
    }
    &.white input:checked + .slider {
        background-color: ohma.$colors-white;
    }
    &.black input:checked + .slider {
        background-color: ohma.$colors-black;
    }

    input:checked + .slider:before {
        transform: translateX(26px);
    }

    .label {
        white-space: nowrap;
        font-size: ohma.$fonts-m;
        position: absolute;
        top: calc(-1 * ohma.$fonts-m - .2em);
    }
}