@use '@/styles/ohma';

.error {
    color: ohma.$colors-accent-red;
    display: flex;
    flex-direction: column; 
    min-height: 1.15em;
    &.pending {
        visibility: hidden;
    }
    margin-bottom: 3px;
}

.submitButton {
    width: calc(20 * #{ohma.$gap});
    margin: 0;
    color: ohma.$colors-text-inv;
    transition: background-color ohma.$transitionTime ease-in-out;
}

.hiddenSubmit {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.confirmActions {
    display: flex;
    justify-content: center;
    gap: ohma.$gap;
    margin-top: calc(2 * #{ohma.$gap});
}

.loader {
    display: flex;
    justify-content: space-between;
    padding: 1px 20px;
    > div {
        background-color: ohma.$colors-text-inv;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        animation: movedots 1.4s infinite ease-in-out both;
        &:nth-child(1) {
            animation-delay: -0.32s;
        }
        &:nth-child(2) {
            animation-delay: -0.16s;
        }
        &:nth-child(3) {
            animation-delay: 0s;
        }
    }
}

@keyframes movedots {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}