@use "@/styles/ohma";

.TextArea {
    > textarea {
        min-height: 30px;
        width: 100%;
        resize: vertical;
        margin-top: 0.5em;
        max-height: 300px;
        font-size: ohma.$fonts-s;
        @include ohma.layer();
        color: ohma.$colors-text;
        border-radius: ohma.$rounding;
        padding: ohma.$gap;
    }
}