@use "@/styles/ohma";

.TextArea {
    display: flex;
    flex-direction: column;
    gap: calc(0.5 * #{ohma.$gap});
    margin-top: ohma.$gap;
    width: 100%;

    > label {
        font-size: ohma.$fonts-s;
        color: ohma.$colors-text-muted;
    }

    > textarea {
        min-height: 60px;
        width: 100%;
        max-height: 300px;
        resize: vertical;
        font-size: ohma.$fonts-m;
        color: ohma.$colors-ink-strong;
        background-color: ohma.$colors-surface-raised;
        border: 2px solid transparent;
        border-radius: calc(#{ohma.$rounding} - #{ohma.$gap});
        padding: calc(1.5 * #{ohma.$gap}) calc(2 * #{ohma.$gap});
        transition: border-color ohma.$transitionTime, background-color ohma.$transitionTime;

        &:hover {
            background-color: ohma.$colors-surface-hover;
        }

        &:focus {
            outline: 0;
            border-color: ohma.$colors-accent-blue;
            background-color: ohma.$colors-surface-hover;
        }
    }

    &.onRaised > textarea {
        background-color: ohma.$colors-surface-hover;

        &:hover, &:focus {
            background-color: color-mix(in srgb, ohma.$colors-surface-hover, white 10%);
        }
    }
}
