@use "@/styles/ohma";

.TextInput {
    position: relative;
    margin-top: ohma.$gap;
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.field {
    width: 100%;
    border: 2px solid transparent;
    border-radius: calc(#{ohma.$rounding} - #{ohma.$gap});
    outline: 0;
    font-size: ohma.$fonts-m;
    color: ohma.$colors-ink-strong;
    background-color: ohma.$colors-surface-raised;
    padding: calc(2.25 * #{ohma.$gap}) calc(2 * #{ohma.$gap}) calc(0.75 * #{ohma.$gap});
    transition: border-color ohma.$transitionTime, background-color ohma.$transitionTime;
    z-index: 1;

    &::placeholder {
        opacity: 0;
    }

    &:hover {
        background-color: ohma.$colors-surface-hover;
    }

    &:placeholder-shown ~ .labe {
        font-size: ohma.$fonts-m;
        cursor: text;
        top: calc(2.25 * #{ohma.$gap});
    }

    &:focus, &:not(:placeholder-shown) {
        ~ .labe {
            top: calc(0.6 * #{ohma.$gap});
            font-size: calc(#{ohma.$fonts-s} * 0.85);
        }
    }

    &:focus {
        border-color: ohma.$colors-accent-blue;
        background-color: ohma.$colors-surface-hover;
    }
}

.labe {
    position: absolute;
    left: calc(2 * #{ohma.$gap});
    top: calc(2.25 * #{ohma.$gap});
    display: block;
    color: ohma.$colors-text-muted;
    transition: ohma.$transitionTime;
    pointer-events: none;
    z-index: 2;
}

.field:focus ~ .labe {
    color: ohma.$colors-accent-blue;
}

.black > .field {
    color: ohma.$colors-ink-strong;
}

.primary > .field {
    color: ohma.$colors-accent-blue;
    &:focus {
        border-color: ohma.$colors-accent-blue;
        ~ .labe {
            color: ohma.$colors-accent-blue;
        }
    }
}

.secondary > .field {
    color: ohma.$colors-surface-base;
    &:focus {
        border-color: ohma.$colors-surface-base;
        ~ .labe {
            color: ohma.$colors-surface-base;
        }
    }
}

.red > .field {
    color: ohma.$colors-accent-red;
    &:focus {
        border-color: ohma.$colors-accent-red;
        ~ .labe {
            color: ohma.$colors-accent-red;
        }
    }
}

.white > .field {
    color: ohma.$colors-white;
}
