@use "@/styles/ohma";

$background: ohma.$colors-white;

.Card {
    // min-width: 200px; 
    // max-width: 300px;
    border-radius: ohma.$cardRounding;
    padding: ohma.$cardRounding;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    margin: 5*ohma.$gap 0;
    // text-decoration: none;
    // display: block;
    // height: $height;
    overflow: hidden;
    background-color: $background;
    // margin: calc(2 * ohma.$gap);;
}