@use '@/styles/ohma';

$collection-size: 250px;

.ImageCollectionList {
    width: 100%;
}

.modeSwitch {
    width: 100%;
    display: flex;
    gap: ohma.$gap;
    margin-bottom: ohma.$gap;
    > button {
        opacity: 0.5;
        &.active {
            opacity: 1;
        }
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    > *:not(.loadingControl) {
        width: $collection-size;
        height: $collection-size;
        margin: ohma.$gap;
        overflow: hidden;
        @include ohma.round;
        position: relative;
        place-self: center;
    }

    > .loadingControl {
        grid-column: 1/-1;
    }
}

@media screen and (max-width: (4 * ($collection-size + 20px))) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: (3 * ($collection-size + 20px))) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: (2 * ($collection-size + 20px))) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        > *:not(.loadingControl) {
            place-self: initial;
            width: min(90vw, 350px);
            height: min(90vw, 350px);
        }
    }
}