@use '@/styles/ohma';

$collection-size: 250px;

.ImageCollectionList {
    width: 100%;
}

.modeSwitch {
    width: 100%;
    display: flex;
    align-items: center;
    gap: ohma.$gap;
    margin-bottom: ohma.$gap;

    > button {
        @include ohma.btn(ohma.$colors-surface-hover);
        margin: 0;
        color: ohma.$colors-text;

        &.active {
            @include ohma.btn(ohma.$colors-accent-blue);
            margin: 0;
        }
    }
}

.toggle {
    margin-left: auto;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > *:not(.loadingControl) {
        width: $collection-size;
        height: $collection-size;
        margin: ohma.$gap;
        overflow: hidden;
        @include ohma.round;
        position: relative;
    }

    > .loadingControl {
        width: 100%;
    }
}

@media screen and (max-width: (2 * ($collection-size + 20px))) {
    .grid > *:not(.loadingControl) {
        width: min(90vw, 350px);
        height: min(90vw, 350px);
    }
}