@use "@/styles/ohma";

.wrapper {
    padding: 2*ohma.$gap;
    min-height: 100%;
    width: 100%;
    align-self: flex-start;
    background-color: ohma.$colors-base00;
    h1 {
        font-family: ohma.$fonts-secondary;
        font-size: ohma.$fonts-xxl;
        text-transform: capitalize;
    }

    .inlineHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}