@use '@/styles/ohma';

@include ohma.screenMobile {
    .wrapper {
        max-width: 80vw;
        overflow-y: scroll;
    }
}

.ApiKeysList {    
    @include ohma.table();
    a {
        display: contents;
        text-decoration: none;
        color: inherit;
    }
}

.activated {
    background-color: color-mix(in srgb, ohma.$colors-green, white 50%);
    color: ohma.$colors-green;
}

.deactivated {
    background-color: color-mix(in srgb, ohma.$colors-red, white 50%);
    color: ohma.$colors-red;
}