@use '@/styles/ohma';

.ProfilePicture {
    display: flex;
    justify-content: center;

    .image {
        border-radius: 50%;
        border: 3px solid ohma.$colors-white;
        background-color: ohma.$colors-white;
        aspect-ratio: 1;
        object-fit: cover;
    }
}