@use '@/styles/ohma';

.UserCard {
    @include ohma.round;
    @include ohma.boxShadow('');
    &:hover {
        @include ohma.boxShadow('hover');
    }
    text-decoration: none;
    margin: ohma.$gap;
    margin-bottom: 0;
    box-sizing: border-box;
    @include ohma.layer;
    color: ohma.$colors-text;

    display: flex;
    align-items: center;
    gap: ohma.$gap;

    > div {
        > h6 {
            font-size: ohma.$fonts-m;
        }

        > p {
            font-size: ohma.$fonts-s;
        }
    }
}
