@use '@/styles/ohma';

.UserCard {
    padding: ohma.$gap;
    border-radius: ohma.$rounding;
    text-decoration: none;
    margin: ohma.$gap ohma.$gap 0;
    box-sizing: border-box;
    color: ohma.$colors-text;
    background-color: ohma.$colors-surface-raised;
    border: 4px solid var(--flairColor, ohma.$colors-surface-raised);

    display: flex;
    align-items: center;
    gap: ohma.$gap;

    > div {
        > h6 {
            font-size: ohma.$fonts-m;
        }

        > p {
            font-size: ohma.$fonts-s;
        }
    }
}
