@use '@/styles/ohma';

.BackdropImage {
    position: relative;
    isolation: isolate;

    .image {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 240px;
        opacity: 0.0;
        display: flex;
        align-items: flex-end;
        animation: fadein 1s ease-in forwards;
        animation-delay: 1s;
        overflow: hidden;

        * {
            width: 400px;
            height: 400px;
        }
        .gray {
            filter: grayscale(100%) brightness(0.5) contrast(1.5);
        }
    }


    .content {
        z-index: 1;
    }
}

@keyframes fadein {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 0.5;
    }
}