@use '@/styles/ohma';

.CreateInterestGroupForm {
    min-width: 50vw;
    min-height: 50vh;
    display: grid;
    place-items: center;
    form {
        display: grid;
        place-items: center;
        > * {
            width: 200px;
            margin: 0;
        }
        button[type="submit"] {
            width: 220px;
        }
    }
}