@use '@/styles/ohma';

.Dropzone {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    > .uploader {
        width: 100%;
        position: relative;
        border: 2px dashed ohma.$colors-primary;
        padding: 3*ohma.$gap;
        display: flex;
        justify-content: center;
        align-items: center;    
        &:has(> input:focus) {
            animation: pulse 1s infinite;
        }
        > input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            &:hover {
                cursor: pointer;
                ~ p, ~ svg {
                    scale: 1.05;
                }
            }
        }
        > svg, p {
            z-index: -1;
            transition: scale 0.2s;
        }
        > svg {
            width: 30px;
            height: 30px;
            margin: 2*ohma.$gap;
        }
    }
    > span {
        margin-top: 2*ohma.$gap;
        padding: .5em;
        background-color: lighten(ohma.$colors-primary, 40%);
        > .general {
            display: flex;
            justify-content: space-between;
            align-content: center;
            > p {
                width: 100%;
                text-align: center;
                &:first-child {
                    text-align: left;
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
        .trash {
            background-color: transparent;
            border: none;
            &:hover {
                cursor: pointer;
            }
            > svg {
                width: 20px;
                height: 20px;
                color: ohma.$colors-red;
            }
        }
        ul {
            height: 200px;
            overflow-y: scroll;
            > li {

            }
        }
    } 
}

@keyframes pulse {
    0% {
        background-color: rgba(ohma.$colors-primary, 0);
    }
    50% {
        background-color: rgba(ohma.$colors-primary, .6);
    }
    100% {
        background-color: rgba(ohma.$colors-primary, 0);
    }
}