@use '@/styles/ohma';

.Dropzone {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    > .uploader {
        border: 2px dashed ohma.$colors-primary;
    }
    > ul {
        height: 100px;
        overflow-y: scroll;
    }
}