@use "@/styles/ohma";

.Select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > label {
        margin-right: 0.8rem;
    }

    > select {
        padding: 0.3rem;
    }
}