@use "@/styles/ohma";

.TextInput {
    position: relative;
    padding: 2*ohma.$gap 0 0;
    margin-top: ohma.$gap;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid;
    outline: 0;
    font-size: ohma.$fonts-s;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    z-index: 1;

    &::placeholder {
        opacity: 0;
    }

    &:placeholder-shown ~ .labe {
        font-size: ohma.$fonts-s;
        cursor: text;
        top: 20px;
    }

    &:focus, &:not(:placeholder-shown) {
        ~ .labe {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: calc(ohma.$fonts-s * 0.8);
        }
        padding-bottom: 6px;  
        border-width: 3px;
        border-image-slice: 1;
    }
}

.labe {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    z-index: 0;
}

.primary .labe,.primary .field,.primary:focus ~ .labe, 
.primary:not(:placeholder-shown) ~ .labe {
    color: ohma.$colors-primary;
    border-color: ohma.$colors-primary;
}

.secondary .labe,.secondary .field,.secondary:focus ~ .labe, 
.secondary:not(:placeholder-shown) ~ .labe {
    color: ohma.$colors-secondary;
    border-color: ohma.$colors-secondary;
}

.black .labe,.black .field,.black:focus ~ .labe,
.black:not(:placeholder-shown) ~ .labe {
    color: ohma.$colors-black;
    border-color: ohma.$colors-black;
}

.red .labe,.red .field,.red:focus ~ .labe,
.red:not(:placeholder-shown) ~ .labe {
    color: ohma.$colors-red;
    border-color: ohma.$colors-red;
}

.white .labe,.red .field,.white:focus ~ .labe,
.white:not(:placeholder-shown) ~ .labe {
    color: ohma.$colors-white;
    border-color: ohma.$colors-white;
}