@use "@/styles/ohma";

.ImageDisplay {
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 95vh;
    @include ohma.round();
    background-color: ohma.$colors-gray-300;
    .openImageAdmin {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: transparent;
        border: none;
        svg {
            color: ohma.$colors-black;
            width: 35px;
            height: 35px;
            margin: 1em;
        }
    }

    .selectImageSize {
        position: absolute;
        bottom: 0;
        top: auto;
        right: 0;
        margin: 1em;
        > * {
            display: flex;
            flex-direction: column;
        }
    }

    .close {
        background-color: ohma.$colors-red;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1em;
        svg {
            color: ohma.$colors-white;
        }
    }

    > .currentImage {
        padding: 0;
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;

        > .select {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
        }

        > .loading {
            @include ohma.card;
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: relative;
            @include ohma.loadImage;
        }
        //loading paceholder and image-container
        > .loading, > *:last-child { 
            margin-top: 1em;
            position: relative;
            width: 100% !important;
            height: 100%;
        }
        img {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            max-width: 100%;
            max-height: 100%;
            border-radius: ohma.$rounding;
            top: 50%;
            left: 50%;
            object-fit: contain;
            transform: translate(-50%, -50%);
            padding: 0;
        }
    }
    > .controls {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1em;
        > button {
            width: 30px;
            height: 30px;
            background-color: transparent;
            border: none;
            margin: ohma.$gap;
            &:hover {
                cursor: pointer;
            }
            > svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.makeCover, .deleteImage {
    border-top: 1px solid ohma.$colors-black;
    padding-top: 3px;
}

@keyframes rotate {
    0% {
        transform: translate(0) rotate(0deg);
    }
    100% {
        transform: translate(20%) rotate(5deg);
    }
}