@use '@/styles/ohma';

.openBtn {
    background-color: transparent;
    border: none;
    :hover {
        cursor: pointer;
    }
}

.Menu {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 9;
    @include ohma.layer;
    width: 100dvw;
    height: calc(100dvh - 60px);
    display: flex;
    justify-content: start;
    align-items: start;
    overflow-y: auto;
    .close {
        position: absolute;
        top: 0;
        left: 0;
        margin: .6rem;
        background-color: transparent;
        border: none;
        &:hover {
            cursor: pointer;
        }
        width: 50px;
        height: 50px;
    }
    ul {
        position: relative;
        top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    li {
        list-style: none; 
        margin: 10px 10px 10px 28px;
        a {
            text-decoration: none; 
            color: ohma.$colors-text;
            display: flex;
            align-items: center; 
            font-size: ohma.$fonts-l;
            font-weight: ohma.$fonts-weight-l;
            &:hover {
                color: ohma.$colors-primary;
                svg {
                    color: ohma.$colors-primary;
                }
            }
            svg {
                margin-right: 5px;
                color: ohma.$colors-text;
            }
        }
    }
    animation: radiate .4s ease-out forwards;
    &.closeMenu {
        animation: deradiate .4s ease-in forwards;
    }
}

@keyframes radiate {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0% 0);
    }
}

@keyframes deradiate {
    0% {
        clip-path: inset(0 0 0% 0);
    }
    100% {
        clip-path: inset(0 0 100% 0);
    }
}

@media screen and (max-width: ohma.$mobileBreakpoint) {
    .Menu {
        width: auto;
        height: calc(100dvh - 59px);
        top: 0;
        bottom: 0;
        right: 0;
        > ul {
            top: 0;
            justify-content: flex-end;
        }
        &.closeMenu {
            animation: none;
        }
        > .close {
            width: 3em;
            height: 3em;
            margin: .5em;
            left: unset;
            right: 0;
        }
        animation: radiateMobile .4s ease-out forwards;
        &.closeMenu {
            animation: deradiateMobile .4s ease-in forwards;
        }
    }
}

@keyframes radiateMobile {
    0% {
      clip-path: inset(100% 0 0 0);
    }
    100% {
      clip-path: inset(0% 0 0 0);
    }
}

@keyframes deradiateMobile {
    0% {
      clip-path: inset(0% 0 0 0);
    }
    100% {
      clip-path: inset(100% 0 0 0);
    }
}

