@use "@/styles/ohma";

.MobileNavBar {
    background-color: ohma.$colors-black;
    width: 100%;
    height: 100%;
    color: ohma.$colors-white;
    padding: 2*ohma.$gap;

    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    > *:not(:last-child) {
        display: grid;
        place-items: center;
        &:first-child {
            border-left: none;
        }
        .icon {
            color: ohma.$colors-white;
            width: 25px;
            height: 25px;
        }
        &.magicHat {
            position: relative;
            > .image {
                filter: invert(1);
            }
        }
        > button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }
        .imagelink {
            width: 100%;
            height: 100%;
        }
    }
    overflow: hidden;
    .editMode {
        background-color: ohma.$colors-black;
        position: absolute;
        bottom: calc(100% + 3*ohma.$gap);
        right: 0;
        border-start-start-radius: 50%;
        transform: translateY(50%);
        svg {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: ohma.$mobileBreakpoint) {
    .MobileNavBar {
        display: grid;
    }
}

