@use "@/styles/ohma";

.NavBar {
    color: ohma.$colors-text;
    font-size: ohma.$fonts-m;
    background-color: ohma.$colors-layer;
    padding: 0 3*ohma.$gap;
    width: 100%;
    height: 100%;
    > ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        > li {
            margin-left: 5*ohma.$gap;
            &.logo {
                margin-left: 2*ohma.$gap;
                a {
                    width: 100%;
                    height: 100%;
                }
            }
            &.rightSide {
                display: flex;
                width: auto;
                margin-left: auto;
                align-items: center
            }
        }
        .magicHat {
            position: relative;
            @include ohma.btn(ohma.$colors-primary);
            margin: 0;
        }
    }
    .openMenu {
        font-weight: ohma.$fonts-weight-m;        
        color: ohma.$colors-text;
    }
}

@media (max-width: ohma.$mobileBreakpoint) {
    .NavBar {
        display: none;
    }
}

