@use '@/styles/ohma';

.reportButton {
    cursor: pointer;
    margin: 0 ohma.$gap;
    
    .reportPicture {
        width: 48px;
        height: 48px;
        padding: ohma.$gap;
        border-radius: calc(#{ohma.$gap} * 2);
        color: ohma.$colors-text;
        transition: ohma.$transitionTime;
        &:hover{
            background-color: ohma.$colors-accent-red;
        }
    }
}