@use '@/styles/ohma';

.reportButton {
    // padding: ;
    cursor: pointer;
    // margin-top: .5em;
    margin: 0 ohma.$gap;
    
    
    .reportPicture {
        //Width and height plus padding must equal 50px
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 10px;
        // background-color: ohma.$colors-red;
        // filter: saturate(0);
        color: ohma.$colors-white;
        transition: 0.5s;
        &:hover{
            background-color: ohma.$colors-red;
            // background-color: rgb(211, 0, 0);
        }
    }
}

// .reportPicture{
//     background-color: red;
// }