@use '@/styles/ohma';

$imageWidth: 300px;

.School {
    position: relative;
    display: flex;
    background-color: ohma.$colors-secondary;
    @include ohma.card();
    @include ohma.boxShadow();
    overflow: hidden;
    min-height: $imageWidth;
    .cmsImage {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: $imageWidth;
        > * {
            width: 100%;
            height: 100%;
        }
        .image {
            width: $imageWidth;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .text {
        padding-left: $imageWidth;
        h2 {
            font-size: ohma.$fonts-xl;
        }
        .cmsLink {
            margin-top: .5em;
            width: 200px;
        }
    }
}