@use "@/styles/ohma";
$omegamai: url("backgroundimages/Omegamai.jpeg");
$frontImg: url("backgroundimages/frontImg.jpeg");
$taktlause: url("backgroundimages/taktlause.jpeg");

.pageRoot {
    position: relative;
}

.link {
    position: absolute;
    top: ohma.$gap;
    right: ohma.$gap;
    z-index: 2;
    @include ohma.btn(ohma.$colors-accent-blue);
}

.wrapper {
    font-size: 40px;
    > .part {
        &.frontImg {
            background-image: $frontImg;
        }
        &.omegamai {
            background-image: $omegamai;
            padding: calc(2 * #{ohma.$gap}) 0;
        }
        &.taktlause {
            background-image: $taktlause;
            padding: calc(2 * #{ohma.$gap}) 0;
        }
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        width: 100%;
    }
}

.frontInfo {
    width: 100%;
    min-height: calc(100dvh - #{ohma.$nav-height} - 3 * #{ohma.$gap});
    display: grid;
    place-items: center;
    background: radial-gradient(ohma.$colors-black, transparent);
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        > img {
            margin-bottom: calc(2 * #{ohma.$gap});
        }
        > a:not(.scrollDown) {
            width: 100%;
            @include ohma.borderBtn();
        }
        > .scrollDown {
            color: ohma.$colors-white;
        }
    }

    @media (max-width: ohma.$mobileBreakpoint) {
        min-height: calc(100dvh - 2 * #{ohma.$nav-height} - 4 * #{ohma.$gap});
    }
}