@use '@/styles/ohma';

.wrapper {
    > h2 {
        margin-top: 1em 0;
    }
    > .dates {
        margin-top: 2em;
    }
    > .admin {
        margin-top: 1em;
        padding-top: 1em;
        border-top: .3em solid ohma.$colors-gray-300;
    }
}