@use '@/styles/ohma';

.Image {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    > img {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .credit {
        position: absolute;
        background-color: rgba(ohma.$colors-gray-300, .5);
        &.bottom {
            bottom: 0;
            left: 0;
        }
        &.top {
            top: 0;
            right: 0;
        }
        padding: .5em
    }
}