@use '@/styles/ohma';

.editContainer {
    background-color: ohma.$colors-secondary;
    @include ohma.card();
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: top;
    gap: 2em;

    > div {
        border: 1px black solid;
        border-radius: ohma.$rounding;
        padding: ohma.$rounding;
        flex: 1 1 13rem;
        align-content: center;
    }
}
