@use '@/styles/ohma';

.GroupSelector {
    display: block;
    width: 28px;
    height: 28px;
    border: none;
    background-color: ohma.$colors-surface-raised;
    border-radius: 50%;
    color: ohma.$colors-text;
    display: grid;
    place-items: center;
    margin-bottom: .2em;
}