@use '@/styles/ohma';

.GroupAdmin {
    height: 85vh;
    width: 80vw; 
    box-shadow: 0 0 10px 0 ohma.$colors-gray-800;
    background-color: lighten(ohma.$colors-secondary, 40);
    position: relative;
    @include ohma.card;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    .close {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: ohma.$colors-red;
        width: 40px;
        height: 40px;
        transform: translate(-25%, -25%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addUsers {
        position: absolute;
        top: 0;
        right: 1em;
        @include ohma.btn(ohma.$colors-primary);
        width: 200px;
    }

    .userlist {
        overflow-y: scroll;
        height: 100%;
    }

    .groupInfo {
        border-bottom: 3px solid ohma.$colors-gray-800;
        margin-bottom: ohma.$gap;
    }
}

.addUsersList {
    overflow-y: scroll;
    max-height: 80vh;
    > * {
        height: 100%;
    }
}