@use '@/styles/ohma';

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    > h1 {
        margin-left: ohma.$gap;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .groupType {
        grid-column: 1/2;
        grid-row: 2/3;
        border-radius: ohma.$rounding;
        padding: ohma.$rounding;
        margin: ohma.$gap;
        &:nth-child(2n) {
            background-color: ohma.$colors-secondary;
        }
        &:nth-child(2n+1) {
            background-color: lighten(ohma.$colors-secondary, 20);
        }
        font-size: ohma.$fonts-m;
        table {
            margin: ohma.$gap 0;
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;

            thead {
                font-weight: ohma.$fonts-weight-l;
                border-bottom: 2px solid ohma.$colors-gray-800;
            }
            tbody {
                font-weight: ohma.$fonts-weight-m;
            }
            
        }
    }
    .group {
        grid-column: 2/3;
        grid-row: 2/3;
        min-width: 300px;
    }
}