@use '@/styles/ohma';

.wrapper {
    position: relative;
    > h1 {
        margin-left: ohma.$gap;
    }
    .groupType {
        border-radius: ohma.$rounding;
        padding: ohma.$rounding;
        margin: ohma.$gap;
        &:nth-child(2n) {
            background-color: ohma.$colors-secondary;
        }
        &:nth-child(2n+1) {
            background-color: lighten(ohma.$colors-secondary, 20);
        }
        font-size: ohma.$fonts-m;
        table {
            margin: ohma.$gap 0;
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;

            thead {
                font-weight: ohma.$fonts-weight-l;
                border-bottom: 2px solid ohma.$colors-gray-800;
                td {
                    height: 30px;
                }
            }
            tbody {
                font-weight: ohma.$fonts-weight-m;
                td {
                    height: 40px;
                }
            }
        }
    }
    .group {
        position: fixed;
        top: 50%;
        right: -1em;
        transform: translateY(-50%);
    }
}