@use '@/styles/ohma';

.wrapper {
    margin-top: 1em;
    position: relative;
    width: 100%;
    color: ohma.$colors-text;
    > h1 {
        margin-left: ohma.$gap;
    }
    .groupType {
        border-radius: ohma.$rounding;
        padding: ohma.$rounding;
        margin: ohma.$gap;
        @include ohma.layer;
        font-size: ohma.$fonts-m;
        table {
            margin: ohma.$gap 0;
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;

            thead {
                font-weight: ohma.$fonts-weight-l;
                border-bottom: 2px solid ohma.$colors-gray-800;
                td {
                    height: 30px;
                }
            }
            tbody {
                font-weight: ohma.$fonts-weight-m;
                td {
                    height: 40px;
                }
            }
        }
    }
}