@use "@/styles/ohma";

.MazeMap { 
    display: flex;
    justify-content: center;
}

.MazeMapIframe {
    width: 80%;
    height: 100%;
    border: none;
    border-radius: ohma.$rounding;
    background-color: white;
    box-shadow: 10px 10px 15px ohma.$colors-gray-700;
}
