@use "@/styles/ohma";

.CommitteeCard {
    width: 100%;
    border-radius: ohma.$rounding;
    background-color: ohma.$colors-surface-base;
    display: flex;
    flex-direction: column;
    gap: ohma.$gap;
    padding: ohma.$gap;
    transition: background-color 0.3s;

    &:hover {
        background-color: ohma.$colors-surface-raised;
    }
}

.mainLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(#{ohma.$gap} * 2);
    color: inherit;
    text-decoration: none;
    text-align: left;
}

.image {
    width: 128px;
    height: 128px;
    flex-shrink: 0;
    border-radius: calc(#{ohma.$rounding} - #{ohma.$gap});
    background-color: ohma.$colors-surface-hover;
    padding: ohma.$gap;
    display: grid;
    place-items: center;

    > * {
        width: 100% !important;
        height: 100% !important;
        object-fit: contain;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.content {
    > h2 {
        font-size: ohma.$fonts-l;
        font-weight: ohma.$fonts-weight-l;
        color: ohma.$colors-ink-strong;
    }
}
