@use '@/styles/ohma';

$currentImageSize: min(200px, 24vh);

.ChangeImage {
    margin-top: .6em;
    max-width: $currentImageSize;
    > .onlyCurrent {
        width: $currentImageSize;
        max-height: $currentImageSize;
    }
    > i {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .imageClip {
        overflow: hidden;
        @include ohma.round;
        padding: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100% !important;
            max-height: 100%;
            object-fit: contain;
            @include ohma.round;
            padding: 0;
            overflow: hidden;
        }
    }
    .resolution {
        margin-top: .2em;
        p {
            font-size: ohma.$fonts-s;
        }
    }
    > .currentAndSelected {
        width: $currentImageSize;
        max-height: $currentImageSize;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        > * {
            width: $currentImageSize / 2;
            max-height: $currentImageSize / 2;
            > * {
                width: 100% !important;
                max-height: 100%;
            }
        }
        > .arrow1 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width: 70%;
            height: 70%;
            rotate: 90deg;
            place-self: center;
        }
        > .arrow2 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            width: 70%;
            height: 70%;
            transform: scaleX(-1) rotate(180deg);
            place-self: center;
        }
    }
}