@use '@/styles/ohma';

$collectionSize: calc(14vmin + 70px);

.CmsImageEditor {
    width: calc(97vw - 140px);
    height: calc(97vh - 140px);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    gap: 1em;
    padding: -1em;
    .linkToImages {
        position: absolute;
        top: -2%;
        right: -2%;
        @include ohma.btn(ohma.$colors-primary);
        width: 10em;
    }
    > .currentCmsImage {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    > .selectImage {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background-color: lighten(ohma.$colors-secondary, 40%);
        @include ohma.round;
        overflow: scroll;
        > * {
            isolation: isolate;
        }
    }
    > .selectCollection {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        background-color: lighten(ohma.$colors-secondary, 50%);
        @include ohma.round;
        display: flex;
        max-width: 100%;
        overflow: scroll;
        min-height: calc($collectionSize + 5vmin);
        align-items: center;
        padding: 0;
        .collection {
            position: relative;
            margin: 0 .2em;
            .collectionCard {
                width: $collectionSize;
                height: $collectionSize;
                margin: 0;
                z-index: 1;
            }
            .selector {
                width: $collectionSize;
                height: $collectionSize;
                z-index: 2;
                position: absolute;
                background-color: transparent;
                color: transparent;
                border: none;
                ~ .collectionCard img {
                    z-index: -1;
                }
                &:hover {
                    cursor: pointer;
                    ~ .collectionCard img {
                        scale: 1.2;
                    }
                }
            }
            &.selected {
                transform: scale(1.1);
                z-index: 3;
                border: 5px solid ohma.$colors-primary;
                border-radius: 1.25em;
                .collectionCard img {
                    scale: 1.2;
                }
            }
        }
        > *:last-child:not(.collection) {
            min-width: $collectionSize;
            height: $collectionSize;
            border: ohma.$colors-black 1px solid;
            display: flex;
            position: relative;
            @include ohma.round;
        }
    }
}

.showBtn {
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
}

.openBtn {
    background-color: transparent;
    border: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(ohma.$colors-gray-700, 0.8);
    transition: background-color 0.2s ease-in-out;
    .editIcon {
        background-color: transparant;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        svg {
            width: min(30px, 80%);
            height: min(30px, 80%);
            color: ohma.$colors-white;
            transition: scale 0.2s ease-in-out;
        }
    }
    &:hover {
        background-color: rgba(ohma.$colors-gray-700, 0.95);
        .editIcon > svg {
            scale: 1.2;
            transform-origin: center center;
            color: ohma.$colors-primary;
        }
    }
}
