@use '@/styles/ohma';

.UserList {
    height: 100%;
    > .filters {
        width: 100%;
    }
    > .list {
        height: 100%;
        overflow-y: scroll;
        border-radius: ohma.$rounding;
        background-color: ohma.$colors-white;
        width: 100%;
        > .head {
            position: sticky;
            top: 0;
            left: 0;
            box-shadow: 0 0 10px 0 ohma.$colors-gray-800;
            padding: 2*ohma.$gap ohma.$gap;
            border-radius: ohma.$rounding;
            background-color: ohma.$colors-secondary;
        }
        span {
            display: grid;
            grid-template-columns: 3fr 2fr 1fr 1fr;
            > * {
                text-align: left;
            }
        } 
    }
}