@use '@/styles/ohma';

.UserList {
    > .filters {
        width: 100%;
    }
    > table {
        width: 100%;
        
        th {
            text-align: left;
        }
        thead {
            height: 40px;
        }
    }
}