@use '@/styles/ohma';

.UserList {
    > .filters {
        width: 100%;
    }
    > .list {
        width: 100%;
        > .head {
            height: 40px;
        }
        span {
            display: grid;
            grid-template-columns: 3fr 2fr 1fr 1fr;
            > * {
                text-align: left;
            }
        } 
    }
}