@use '@/styles/ohma';

.Permission {
    @include ohma.layer;
    display: flex;
    @include ohma.round();
    align-items: center;
    gap: 1em;
    .content {
        display: flex;
        flex-direction: column;
        .name {
            display: flex;
            align-items: center;
            gap: .4em;
            > h3 {
                font-size: ohma.$fonts-l;
            }
            > i {
                font-size: ohma.$fonts-s;
            }
        }
        .info {
            display: flex;
            align-items: center;
            gap: .3em;
        }
    }
}