@use "@/styles/ohma";

.ThemeWrapper {
    display: flex;
    flex-wrap: wrap;
}

.Theme {
    width: 192px * 2;
    height: 168px;
    background: ohma.$colors-surface-raised;
    border-radius: ohma.$cardRounding;
    padding: ohma.$gap * 2;
    margin: ohma.$gap;
}

.ThemeHeader {
    background: ohma.$colors-surface-hover;
    height: 58%;
    border-radius: ohma.$cardRounding;
    margin: -2 * ohma.$gap;
    padding: ohma.$gap * 2;
    font-size: xx-large;
    line-height: 50px;
    color: ohma.$colors-ink-hover;
}

.ThemeBody {
    margin-top: ohma.$gap * 3;
    display: flex;
    justify-content: space-between;
    > div {
        border-radius: ohma.$rounding;
        height: 64px;
        width: 64px;
    }
    > .primary {
        background-color: ohma.$colors-accent-blue;
    }
    > .secondary {
        background-color: ohma.$colors-surface-raised;
    }
    > .layer {
        background-color: ohma.$colors-surface-hover;
    }
    > .text {
        background-color: ohma.$colors-ink-base;
    }
    > .textMuted {
        background-color: ohma.$colors-ink-faint;
    }
}
