@use '@/styles/ohma';

.wrapper {
  background: ohma.$colors-surface-base;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  
  > div {
    max-width: 20rem;
    width: calc(100vw - 2rem);
  }
}
