@use '@/styles/ohma';

.AddUsersToGroup {
    position: relative;
    width: 100%;
    .addUsersList {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 80vh;
        min-width: 70vw;
        > * {
            height: 100%;
        }
    }
    .submitForm {
        button {
            position: absolute;
            top: -2em;
            right: 0;
        }
    }
}

