@use '@/styles/ohma';

.wrapper {
    margin-top: 1em;
    height: 85vh;
    width: 80vw; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    .close {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        background-color: ohma.$colors-red;
        width: 40px;
        height: 40px;
        transform: translate(-25%, -25%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addUsers, .link {
        position: absolute;
        top: 1em;
        right: 1em;
        @include ohma.btn(ohma.$colors-primary);
        width: 200px;
    }

    .userlist {
        overflow-y: scroll;
        height: 100%;
    }

    .groupInfo {
        border-bottom: 3px solid ohma.$colors-gray-600;
        margin-bottom: ohma.$gap;
    }
}