@use '@/styles/ohma';

.wrapper {

    overflow-x: auto;
    overflow-y: auto;
    height: calc(100vh - 5rem);
    width: 100%;

    .table {
        display: block;
        overflow-x: visible;
        border-spacing: 0;

        thead, tbody, tr, td, th {
            overflow-x: visible;
        }

        .tableHead {
            vertical-align: bottom;

            th {
                white-space: nowrap;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                padding-bottom: 0.3rem;
                position: sticky;
                top: 0;
                z-index: 2;
                background-color: ohma.$colors-body-background;
                border-bottom: 2px solid black;
            }

            .permissionTH {

                >span {
                    -ms-writing-mode: tb-rl;
                    -webkit-writing-mode: vertical-rl;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    white-space: nowrap;
                }
            }
        }

        .tableBody {
            .groupName {
                text-wrap: nowrap;
                text-align: right;
                position: sticky;
                padding-right: 0.3rem;
                left: 0;
                z-index: 1;
                background-color: ohma.$colors-body-background;
                border-right: 2px solid black;

            }

        }

    }

}
