@use '@/styles/ohma';

.table {
    @include ohma.table;

    .tableHead {

        vertical-align: bottom;

        .notificationMethodsTH {
            width: 1%;
            white-space: nowrap;
            text-align: center;

            @include ohma.screenLg {
                min-width: 8rem;
            }

            @include ohma.screenMobile {
                > span {
                    -ms-writing-mode: tb-rl;
                    -webkit-writing-mode: vertical-rl;
                    writing-mode: vertical-rl;
                    transform: rotate(180deg);
                    white-space: nowrap;
                }
            }
        }
    }

    @include ohma.screenMobile {
        th, td {
            padding: ohma.$gap calc(1.2 * #{ohma.$gap});
        }
    }
}

.submitButton {
    transition: opacity ohma.$transitionTime ease;

    max-width: 15rem;
    margin: calc(2 * #{ohma.$gap}) auto 0;

    &.hideSubmitButton {
        opacity: 0;
    }
}
