@use '@/styles/ohma';

.subscriptionItem {

    .channelName {
        --depth: 0;

        padding-left: calc(var(--depth) * 1.5 * #{ohma.$gap});
    }

    .name {
        display: inline-flex;
        align-items: center;
    }

    .branch {
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        margin-right: 0.6em;
        flex-shrink: 0;
        border-left: 2px solid ohma.$colors-text-muted;
        border-bottom: 2px solid ohma.$colors-text-muted;
    }

    .description {
        display: block;
        margin-top: 0.2em;
        color: ohma.$colors-text-muted;
        font-size: ohma.$fonts-s;
    }

    .checkbox {

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
