@use '@/styles/ohma';

.wrapper {
    width: 100%;
    > .header {
        display: flex;
        justify-content: space-between;
        button {
            margin: ohma.$gap;
            border: none;
            background-color: transparent;
            width: 20px;
            height: 20px;
        }
    }
}

$collection-size: 250px;

.collections {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    > .collection {
        width: $collection-size;
        height: $collection-size;
        margin: ohma.$gap;
        overflow: hidden;
        @include ohma.round;
        position: relative;
        > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        > .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: ohma.$colors-secondary;
            opacity: 0.95;
            padding: 0.3em;
            color: ohma.$colors-black;
            text-decoration: none;
            min-height: 25%;
            transition: min-height 0.5s;
            padding: ohma.$gap;
            h4 {
                margin-top: ohma.$gap;
                transition: opacity 0.5s;
                opacity: 0;
            }
        }
        &:hover > .info {
            min-height: 100%;
            h4 {
                opacity: 1;
            }
        }
    }
}