@use '@/styles/ohma';

.Form {
    position: relative;
    width: 100%;
    > h2 {
        margin-bottom: ohma.$gap;
    }
    .error {
        color: ohma.$colors-red;
        display: flex;
        flex-direction: column; 
        min-height: 1.15em;
        &.pending {
            visibility: hidden;
        }
        margin-bottom: 3px;
    }
    .submit {
        margin-top: ohma.$gap;
        .confirm {
            width: 100%;
            max-width: 200px;
            display: flex;
            flex-direction: column;
            > .close {
                margin: ohma.$gap 0;
                width: 25px;
                height: 25px;
                padding: 0;
                background-color: transparent;
                border: none;
                > svg {
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}