@use '@/styles/ohma';

.editor-toolbar, .editor-statusbar, .CodeMirror-measure {
    display: none;
}

.EasyMDEContainer .CodeMirror {
    border: none;
    background-color: transparent;
}

.CodeMirror-wrap {
    border: none;
    pre.CodeMirror-line {
        .cm-header {
            font-size: ohma.$fonts-s;
            font-weight: 200;
            color: ohma.$colors-secondary;
        }
        .cm-formatting-header {
            font-weight: 900;
        }
        .cm-spell-error {
            background: none !important;
        }
    }
}
