@use '@/styles/ohma';

.ParagraphEditor {
    > .editor {
        width: 100%;
        font-size: ohma.$fonts-s;
        border-radius: 4px;
        border: 1px solid ohma.$colors-primary;
        margin-top: ohma.$gap;
        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px ohma.$colors-primary;
        }
        background-color: ohma.$colors-gray-200;
        max-height: 300px;
        overflow-y: scroll;
    }
}