@use '@/styles/ohma';

.CollectionAdmin {
    @include ohma.card;
    background-color: ohma.$colors-secondary;
    > *:not(:last-child) {
        border-bottom: solid 5px ohma.$colors-gray-800;
        margin-bottom: 1em;
    }
    .upload {
        > button {
            background-color: transparent;
            border: none;
            color: ohma.$colors-black;
            margin-bottom: 1em;
            > svg {
                width: 1.5em;
                height: 1.5em;
                margin: 0 .2em;
            }
        }
        > * form {
            min-width: 50vw; 
        }
    }

    .coverImage {
        p, i, button {
            font-size: ohma.$fonts-s;
        }

        >*:first-child {
            display: flex;
            flex-flow: row wrap;
            .showCurrentCover {
                margin: 0 1em;
                position: relative;
                $showIconSize: 1em;
                width: $showIconSize;
                height: $showIconSize;
                background: ohma.$colors-gray-300;
                border-radius: 50%;
                padding: 3px;
                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: $showIconSize;
                    height: $showIconSize;
                }
                > .currentCover {
                    background-color: ohma.$colors-gray-100;
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate($showIconSize, $showIconSize);
                    @include ohma.round;
                    overflow: hidden;
                    z-index: 1;
                    > div {
                        @include ohma.round; 
                        padding: 0;
                        overflow: hidden;
                        margin: ohma.$gap;
                    }
                }
                &:hover {
                    cursor: pointer;
                    > .currentCover {
                        display: block;
                    }
                }
            }
        }
        
        button {
            @include ohma.roundBtn(ohma.$colors-primary);
            min-width: 50%;
            border-radius: .3em;
        }
    }
}