@use '@/styles/ohma';

.CollectionAdmin {
    position: fixed;
    top: 100px;
    right: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    .adminOption {
        display: grid;
        place-content: center;
        @include ohma.roundAdminSvgBtn;
    }
}

.upload {
    min-width: 300px;
}

.toggleUploadStyle {
    position: absolute;
    top: 2em;
    right: 2em;
}