@use '@/styles/ohma';

.wrapper {
    padding: ohma.$gap;
    display: flex;
    position: relative;
    > .admin {
        width: 300px;
        position: relative
    }
    > .images {
        padding: 3*ohma.$gap;
        > main {
            margin-top: ohma.$gap;
        }
    }
}