@use '@/styles/ohma';

.wrapper {
    // adjust for sidebar
    .coverImage {
        transform: translateX(-300px);
        width: 100vw !important;
        h1 {
            transform: translateX(300px);
        }
    }
}