name: lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3 
    
    - name: set up node
      uses: actions/setup-node@v3
      with:
        node-version: '24.12.x'

    - name: Install dependencies 
      run: npm ci

    - name: Generate PrismaClient
      run: npx prisma generate

    - name: Generate dobbelOmega
      run: npm run dobbelOmega:generate

    - name: lint
      run: npm run lint
  
