@use "@/styles/ohma";

$background: lighten(ohma.$colors-secondary, 15%);

.CommitteeImage {
  position: relative;
  width: 100vw; /* Ensure the parent container is 100vw */
  height: 300px; /* Set specific height */
  overflow: visible; /* Default hidden overflow for .CommitteeImage */
  box-shadow: ohma.$colors-secondary 0 0 75px;
  margin-bottom: 3rem;
  @media (max-width: 768px) {
      height: 150px; /* Scale the image down */
      animation: none; /* Disable animation on smaller screens */
    }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 275px;
    object-fit: cover;
    z-index: 1;
    transform: scale(0.9);
    transform-origin: top left; /* Add this to keep scaling from top-left */
    animation: loading 1s ease-in-out forwards;
    animation-delay: 1s;
    overflow: visible;

    @media (max-width: 768px) {
      transform: scale(0.4); /* Scale the image down */
      animation: none; /* Disable animation on smaller screens */
      animation: loadingMobile 1s ease-in-out forwards;
      animation-delay: 1s;
    }
  }

  .images {
    position: relative;
    width: auto; /* Ensure full width for this container */
    height: auto; /* Ensure full height for this container */
  }

  .committeeImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Ensure this stretches to 100vw */
    height: 300px; /* Change to 100vh to cover the entire viewport */
    object-fit: cover;
    background-size: cover;
    z-index: 0;
    overflow: hidden;
    @media (max-width: 768px) {
      height: 150px; /* Scale the image down */
      animation: none; /* Disable animation on smaller screens */
    }
  }

  .content {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 800px;
  }
}

.image-container {
  width: 100vw; /* Ensure the container is 100vw */
  max-width: 100%;
  height: 100%; /* Ensure the container height is also 100vh */
}

// Keyframe animation to scale the image on load
@keyframes loading {
  0% {
    transform: scale(0.9); /* Start at normal size */
  }
  100% {
    transform: scale(1.0); /* End at scaled size */
  }
}

@keyframes loadingMobile {
  0% {
    transform: scale(0.4); /* Start at normal size */
  }
  100% {
    transform: scale(0.5); /* End at scaled size */
  }
}